<div class="container p-4">
    <div class="card">
        <div class="card-header text-white bg-dark">
            <div class="row">
                <div class="col">
                    <strong>USERS</strong>
                </div>
            </div>
        </div>
        <div class="card-body">
            <app-user-list></app-user-list>
        </div>
    </div>
</div>
