<div id="notification-section" class="card">
    <div class="card-header text-uppercase">Open Questions & Notifications</div>

    <div class="card-body row text-center">
        <div class="col">
            <a href="javascript:void(0);" class="notif-count">
                <div>
                    <div class="text-value-xl">6</div>
                    <div class="text-uppercase small">30 Days Ahead</div>
                </div>
            </a>
        </div>

        <div class="c-vr"></div>

        <div class="col">
            <a href="javascript:void(0);" class="notif-count">
                <div>
                    <div class="text-value-xl">12</div>
                    <div class="text-uppercase small">Week Ahead</div>
                </div>
            </a>
        </div>

        <div class="c-vr"></div>

        <div class="col">
            <a href="javascript:void(0);" class="notif-count">
                <div>
                    <div class="text-value-xl">40</div>
                    <div class="text-uppercase small">All</div>
                </div>
            </a>
        </div>
    </div>
</div>