<div class="modal-header">
    <h5 class="modal-title" >Change Password</h5>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-password-change-form #frmChangePassword ></app-password-change-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="submit()">Update Password</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Don't Update</button>
</div>