<div class="page-position">
  <app-policy-edit-button></app-policy-edit-button>
  <form [formGroup]="this.driverData.formDriverInfo" id="frmDriverInfo">
    <app-d-driver-information></app-d-driver-information>
    <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
  </form>
</div>
  