<div role="document">
    <div class="modal-content remove-y-scroll">
        <div class="modal-header sticky-modal-header">
            <h5 class="modal-title">{{title}}</h5>
            <button type="button" class="close" (click)="onClose()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="modal-body" [formGroup]="fg">
            <strong>FILTERS</strong>
            <div class="col" [style.padding-left.px]="30" [style.padding-top.px]="5">
                <div class="form-group field">
                    <label for="receivableType">Receivable Type</label>
                    <select class="form-control" formControlName="receivableType">
                        <option value="All" selected>All</option>
                        <option *ngFor="let type of this.accountsReceivableReportData.accountReceivableTypes" [value]="type.value">{{type.label}}</option>
                    </select>
                </div>

                <div class="form-group field">
                    <label for="broker">Broker</label>
                    <select class="form-control" formControlName="broker">
                        <option value="All" selected>All</option>
                        <option *ngFor="let option of this.accountsReceivableReportData.brokerInfoData.dropdownList.agencyListAll | orderBy: 'companyName'" [value]="option.companyName">
                            {{option.companyName}}
                        </option>
                    </select>
                </div>

                <div class="form-group field">
                    <label for="cancellationStatus">Cancellation Status</label>
                    <select class="form-control" formControlName="cancellationStatus">
                        <option [value]="null" selected>All</option>
                        <option *ngFor="let type of this.accountsReceivableReportData.cancellationStatus" [value]="type.value">{{type.label}}</option>
                    </select>
                </div>

                <div class="form-group field">
                    <label for="valuationDate">Valuation Date</label>
                    <app-date-picker [options]="this.accountsReceivableReportData.valuationDateOptions" formControlName="valuationDate"></app-date-picker>
                </div>

                <div class="form-group field" >     
                    <div class="switch-wrapper">
                        <label for="pastDueOnly" class="pt-1">Past Due Only</label>
                        <toggle-switch [formGroup]="fg" [formName]="fn" fieldName="pastDueOnly"></toggle-switch>
                    </div>               
                </div>

                <div class="form-group field">     
                    <div class="switch-wrapper">
                        <label for="noPaymentsMade" class="pt-1">No Payments Made</label>
                        <toggle-switch [formGroup]="fg" [formName]="fn" fieldName="noPaymentsMade"></toggle-switch>
                    </div>               
                </div>
            </div>

            <strong>SORT BY</strong>
            <div class="col" [style.padding-left.px]="30" [style.padding-top.px]="5">
                <div class="form-group">
                    <div class="form-check">
                        <div class="form-group">
                            <div class="form-field">
                                <input class="form-check-input" id="sortByInsuredName" name="sortBy" formControlName="sortBy" type="radio" value="Insured Name">
                                <label class="form-check-label" for="sortByInsuredName"> Insured Name </label>
                            </div>
                            <div class="form-field">
                                <input class="form-check-input" id="sortByPolicyNumber" name="sortBy" formControlName="sortBy" type="radio" value="Policy Number">
                                <label class="form-check-label" for="sortByPolicyNumber"> Policy Number </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer sticky-modal-footer text-right ">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)='generatePDFReport()' [disabled]="!this.fg.valid">Create PDF</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)='generateExcelReport()' [disabled]="!this.fg.valid">Export to Excel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='onClose()'>Cancel</button>
        </div>
  </div>