<div class="card">
    <div class="card-header">Search Filter</div>
    <div class="card-body">
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control">
                <option></option>
                <option>Policy</option>
            </select>
        </div>

        <button class="btn btn-primary">Search</button>
    </div>
</div>