<app-header-admin [leftSidebarAvailable]="false" ></app-header-admin>

<div class="app-body">
  <app-left-sidebar ></app-left-sidebar>
    <main class="main">

        <!-- <cui-breadcrumb>
      <li class="breadcrumb-menu">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </cui-breadcrumb> -->

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>

    <app-aside [fixed]="false" [display]="false" #appAside>
        <app-right-sidebar></app-right-sidebar>
    </app-aside>
</div>

<!-- <app-footer-admin></app-footer-admin> -->
