<div class="container p-4">

    <div class="card">

        <div class="card-header">
            <span class="card-title">Account Details</span>
        </div>

        <div class="card-body">
            <app-account-details></app-account-details>
        </div>

    </div>

</div>