<div role="document">
    <div class="modal-content">
        <div class="modal-header sticky-modal-header">
            <h5 class="modal-title">{{title}}</h5>
            <button type="button" class="close" (click)="onClose()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div [formGroup]="fg" class="modal-body">
            <div class="col">
                <div class="form-group field">
                    <label for="" class="required">Effective Date</label>
                    <app-date-picker 
                        [options]="this.policyCancellationData.cancellationEffectiveDateOptions"
                        formControlName="effectiveDate"
                        [isInvalid]="fg.get('effectiveDate').errors?.required"
                        [customRequiredErrorMessage]="'Effective Date is required'"
                    ></app-date-picker>
                </div>
    
                <div class="form-group field">
                    <label for="" class="required">Cancellation Reason</label>
                    <select class="form-control" formControlName="cancellationReasonType">
                        <option [value]="''" selected>Please Select</option>
                        <option *ngFor="let reason of this.policyCancellationData.cancellationReasons" [value]="reason.id">{{reason.description}}</option>
                    </select>
                    <app-validation-error [control]="fc.cancellationReasonType" [inputName]="'Cancellation Reason'"></app-validation-error>
                </div>

                <div class="form-group field pt-2" >     
                    <div class="switch-wrapper">
                        <label for="">Short Rate Premiums</label>
                        <toggle-switch [formGroup]="fg" [formName]="fn" fieldName="isShortRate"></toggle-switch>
                    </div>               
                </div>
            </div>
        </div>
      
        <div class="modal-footer sticky-modal-footer text-right ">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)='onSubmit()' [disabled]="!this.fg.valid">Cancel Policy</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='onClose()'>Close</button>
        </div>
    </div>
  </div>