.rtable-header {
  border-bottom: 1px solid #ECE5E4;
}

.card-footer {
  background-color: inherit; border: 0;
}

.btn-modal {
  background-color: #3f51b5;
}

.hr-header {
  border-color: black;
}

.is-invalid {
  background-image: none !important;
}



@media (max-width: 1199px) {
  // #accDriverFactor {
  //   width: 40% !important;
  // }
}

@media (max-width: 850px) {
  // #accDriverFactor {
  //   width: 55% !important;
  // }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto !important;
}

label.checkmark-container {
  padding-left: 18px;
}

span.options {
  letter-spacing: 10px;
}

.custom-control {
  padding-left: 1.2rem;
}

:host ::ng-deep {
  .multiselect-dropdown .dropdown-btn {
    padding: 5px 5px !important;
  }

  .multiselect-dropdown .dropdown-list .filter-textbox {
    padding: 2px 2px 2px 2px !important;
  }
}

.dynamic-table {
  padding: 1rem 0;

  .table-wrapper {
    overflow-x: scroll;
  }

  .auto-horizontal-scroll {
    overflow-x: auto;
  }

  table {
    border: 1px solid #c8ced3;
    margin-bottom: 0;
  }

  th {
    background: #f0f3f5;
    border-bottom-width: 1px;
    vertical-align: middle;
    word-break: normal;

    &:last-child {
      word-break: break-all;
    }
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  td:last-child {
    width: 60px;
    text-align: center;

    i {
      cursor: pointer;
      font-weight: bold;
      margin: 0 5px;
    }

    .icon-note,
    .icon-action-undo{
      color: #20a8d8;
    }

    .icon-trash {
      color: #f86c6b;
    }
  }

  td {
    textarea {
      background-color: transparent;
    }

    &:nth-child(1){
      word-break: break-word;
    }

    &:nth-child(2){
      word-break: normal;
    }
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align-last: end;
  }

  textarea {
    width: 100%;
    height: 24px;
  }

  .control-buttons {
    text-align: right;
    margin-top: 1rem;
  }
}


.bulkbadge {
  background-color: #dc4642;
  color: white;
}

.no-data-message {
  font-weight: bold;
  margin-top:10px;
}

.search-button {
  background-color: white;
}

.customized-blue {
  color: #20A8D8;
  vertical-align: top;
  margin-top: 3px;
}


@media (max-width: 767px) {
  .mvrdiv {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  toggle-switch {
    padding-left: 15px !important;
  }
  .filterDiv {
    width: 100% !important;
  }
}

.disable-button {
  cursor: not-allowed !important;
  color: #a9a9a9 !important;
}

.account-driver-factor-field-width {
  width: 200px !important;
}

.driver-history-row {
  color: #666666;
  font-size: smaller;
}