<div class="page-position">
    <app-quote-section></app-quote-section>
    <app-next-back-button [disableCalculate]="quoteLimitsData.quoteOptionsForm.invalid" [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-button>
</div> 