<div class="app flex-row align-items-center">
  <div class="container">

    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>

                  <input type="text" formControlName="username" id="username" name="username" class="form-control"
                    placeholder="Username" autocomplete="username" maxlength="100"
                     required>

                  <app-validation-error [control]="form.username" inputName="Username"></app-validation-error>

                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>

                  <input type="password" formControlName="password" id="password" name="password" class="form-control"
                    placeholder="Password" autocomplete="current-password" maxlength="50" required>

                  <app-validation-error [control]="form.password" inputName="Password"></app-validation-error>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <a routerLink="/account/forgot-password" class="px-0">Forgot password?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
