
.custom-table {
    padding: 1rem 0;

    .table-wrapper {
        overflow-x: scroll;
    }

    .auto-horizontal-scroll {
        overflow-x: auto;
    }

    table {
        border: 1px solid #c8ced3;
        margin-bottom: 0;
        table-layout: fixed;
    }

    th {
        background: #f0f3f5;
        border-bottom-width: 1px;
        vertical-align: middle;
        word-break: normal;

        &:last-child {
            word-break: break-all;
        }
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;
    }
}