<div class="custom-table">
    <table class="table">
        <ng-content select=".custom-table-header"></ng-content>
        <ng-content select=".custom-table-body"></ng-content>
        <ng-content select=".custom-table-foot"></ng-content>
    </table>
</div>