
<div class="card">
    <div class="card-header">Search</div>
    <div class="card-body">

       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Type</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">General</option>
                <option value="2">Follow-up</option>
                <option value="3">Requirement</option>
            </select>
        </div> 

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Date</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">Today</option>
                <option value="2">Past due</option>
                <option value="3">Upcoming</option>
                <option value="3">Date Range</option>
            </select>
        </div> 

        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="mine" value="option1">
                <label class="form-check-label" for="mine">My Tasks</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="outstanding" value="option1">
                <label class="form-check-label" for="outstanding">Outstanding</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="completed" value="option1">
                <label class="form-check-label" for="completed">Show completed</label>
            </div>

        </div>


    </div>
</div>