<div class="row mt-4">
  <div class="col-xl-2 col-lg-3 col-md-12 lessen-padding-margin-search-filter">
    <app-submission-search-filter (submitSearch)="setSearchFormValue($event)"></app-submission-search-filter>
  </div>

  <div class="col-xl-10 col-lg-9 col-md-12 lessen-padding-margin-submissions-list" >
    <app-submission-table></app-submission-table>
  </div>
</div>
