.lessen-padding-margin-submissions-list {
    margin-left: 0 !important;
    padding-left:0 !important;
    margin-right: 0 !important;
    padding-right:0 !important;
}

.lessen-padding-margin-search-filter {
    margin-left: 0 !important;
    padding-left:0 !important;
}