<div style="margin: 10px;">
    <div class="modal-body text-center p-4">
        <p style="font-size: 16px;">{{ message }}</p>

    </div>
    <div class="modal-footer text-center d-block ">
        <button type="button" (click)="confirm()" class="btn btn-secondary savebutton">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</div>
