<div class="container pt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card ">
                <div class="card-header">
                    Filter
                </div>
                <div class="card-body">
                    <app-policy-premium-rater-filter (onFilter)="onFilter($event)"></app-policy-premium-rater-filter>
                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="card ">
                <div class="card-header">
                    <strong class="text-uppercase">Policy Premium Rater</strong>
                </div>
                <div class="card-body p-4">
                    <app-policy-premium-rater-list></app-policy-premium-rater-list>
                </div>
            </div>

        </div>
    </div>
</div>