<table class="table table-hover" [mfData]="addressList" #mf="mfDataTable" [mfRowsOnPage]="10" [style.margin-bottom.%]="-2">
    <thead class="custom-table-header">
        <th class="headers" *ngFor="let header of addressHeaders">
            <mfDefaultSorter by="{{header.columnName}}">{{ header.name }}</mfDefaultSorter>
        </th>
        <th class="headers text-center">
            Actions
            <div>
                <button type="button" class="btn btn-primary mx-1" [tooltip]="TableConstants.add"
                data-placement="top" (click)="addAddress()"><i class="icon-plus"></i></button>
            </div>
          </th>
    </thead>
    <tbody class="custom-table-body">
        <tr class="noresultfound" *ngIf="addressList.length === 0">
            <td colspan="5" *ngIf="isLoading"><div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div></td>
            <td colspan="5" *ngIf="!isLoading"> {{ genericLabel.noResultsFound }}</td>
        </tr>
        <ng-container *ngFor="let item of mf.data">
            <tr *ngIf="filter(item)">
                <td>{{item.addressTypeDescription}}</td>
                <td>{{item.address?.city}}</td>
                <td>{{item.address?.stateCode}}</td>
                <td>{{item.address?.zipCode}}</td>
                <!-- <td>{{item.isActive ? 'Active' : 'Inactive'}}</td> -->
                <td><div class="control-icons text-center">
                    <button type="button" [tooltip]="TableConstants.edit" (click)="editAddress(item)">
                    <i class="icon-note"
                        readonly></i>
                    </button>
                    <button type="button" [tooltip]="TableConstants.delete" (click)="deleteAddress(item)">
                    <i class="icon-trash"
                        readonly></i>
                    </button>
                </div></td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot>
        <tr [style.margin-bottom.px]="1">
          <td colspan="5">
            <mfBootstrapPaginator style="display: flex;" class="justify-content-end text-center pt-3">
            </mfBootstrapPaginator>
          </td>
        </tr>
    </tfoot>
</table>