<div class="page-position">
    <app-policy-edit-button></app-policy-edit-button>
    <app-forms-section></app-forms-section>
    <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
</div>