<div class="page-position">
  <app-insured-section></app-insured-section>
  <app-auto-liability-section></app-auto-liability-section>
  <app-physical-damage-section></app-physical-damage-section>
  <app-glmtc-section></app-glmtc-section>
  <app-additional-interest-section [isShownInSummary]="true"></app-additional-interest-section>
  <app-next-back-btn [isScrollPage]="true" [showBack]='false' (clickType)="onClick($event)"></app-next-back-btn>
</div>