<div class="card">
    <div class="card-header">
      <i class="icon-arrow-down icons header-icon" (click)="toggleUsersList()" *ngIf="isListHidden"></i>
      <i class="icon-arrow-up icons header-icon" (click)="toggleUsersList()" *ngIf="!isListHidden"></i>
      <b>{{TableLabel.usersLabel}}</b>
    </div>
    <div class="card-body show" *ngIf="!isListHidden">
      <div class="d-flex flex-row-reverse">
        <app-search-field (onInputSearch)="userData.searchSystemUsers($event)"></app-search-field>
      </div>
      <div class="user-table">
        <table class="table table-hover user-table" [mfData]="userData.userListData" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead class="custom-table-header">
            <th class="headers" *ngFor="let header of userData.userTableHeaders">
              <mfDefaultSorter by="{{ header.columnName }}">{{ header.name }}</mfDefaultSorter>
            </th>
            <th class="headers text-center">
              Actions
              <div>
                <button type="button" class="btn btn-primary mx-1" [tooltip]="TableConstants.add" data-placement="top"
                  (click)="openAddUserModal()"><i class="icon-plus"></i></button>
              </div>
            </th>
          </thead>
          <tbody class="custom-table-body">
            <tr class="noresultfound" *ngIf="mf.data.length === 0">
              <td colspan="6" *ngIf="userData.isUsersLoading">
                <div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
              <td colspan="6" *ngIf="!userData.isUsersLoading"> {{ GenericLabel.noResultsFound }}</td>
            </tr>
            <ng-container *ngFor="let item of mf.data">
              <tr>
                <td>{{ item?.userName }}</td>
                <td>{{ item?.fullName }}</td>
                <td>{{ item?.emailAddress }}</td>
                <td>{{ item?.isActive ? 'Active' : 'Inactive'}}</td>
                <td>
                  <div class="control-icons text-center">
                    <button type="button" [tooltip]="TableConstants.edit" (click)="openEditUserModal(item)">
                      <i class="icon-note" readonly></i>
                    </button>
                    <button type="button" [tooltip]="TableConstants.delete" (click)="deleteUser(item)">
                      <i class="icon-trash" readonly></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <mfBootstrapPaginator style="display: flex;" class="justify-content-end text-center pt-3">
                </mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
</div>