.user-list .dropdown-menu {
    position: absolute;
    padding: 8px 7px;
    margin: 3px 0 0;
    font-size: 14px;
    background-color: #ffff;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.user-list .dropdown-menu li:hover {
    background-color: #20a8d8;
    color: #ffff;
}

.card {
    margin-top: 10px;
}
  
.user-table {
    padding: 1rem 0;

    .table-wrapper {
        overflow-x: scroll;
    }

    .auto-horizontal-scroll {
        overflow-x: auto;
    }

    table {
        //border: 1px solid #c8ced3;
        margin-bottom: 0;
    }

    thead, tbody {
        border-left: 1px solid #c8ced3;
        border-right: 1px solid #c8ced3;
      }

    th {
        background: #f0f3f5;
        border-bottom-width: 1px;
        vertical-align: middle;
        word-break: normal;

        &:last-child {
            word-break: break-all;
        }
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;
    }
}

.custom-table-header {
    background: #f0f3f5;
}

.headers {
    vertical-align: middle;
}

.noresultfound {
    text-align: center;
}

.control-icons {
    button {
        width: inherit;
        height: auto;
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;

        &:focus {
        outline: none;
        }
    }
}
  
td:last-child {
    i {
      cursor: pointer;
      font-weight: bold;
      margin: 0 5px;
    }
  
    .icon-note {
      color: #20a8d8;
    }

    .icon-trash {
        color: #f86c6b;
    }
}

.user-table {
    th:first-child {
      width: 25%;
    }
    th:nth-child(2) {
      width: 20%;
    }
    th:nth-child(3) {
      width: 30%;
    }
    th:nth-child(4) {
        width: 15%;
      }
    th:last-child {
      width: 10%;
    }
    word-break: break-all;
  }