<form [formGroup]="frmUser" (submit)="save()">
    <input type="hidden" formControlName="displayName" >

    <div class="form-group row">
        <label class="col-md-3 col-form-label text-right">Display Name</label>
        <div class="col-md-9">
            <input type="text" class="form-control" formControlName="displayName" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-right"  required>Username</label>
        <div class="col-md-9">
            <input type="text" class="form-control" formControlName="username">
        </div>
    </div>
    <div class="form-group row" *ngIf="userData?.userId == null">
        <label class="col-md-3 col-form-label text-right"  required>Pasword</label>
        <div class="col-md-9">
            <input type="password" class="form-control" formControlName="password" >
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-3 col-form-label text-right">Permissions</label>
        <div class="col-md-9" formArrayName="permissions">
            <div *ngFor="let p of permissions.controls; let i = index;" [formGroupName]="i" >
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="permission_{{allPermissions[i].value}}" formControlName="checked" value="{{p.value}}" (change)="permissionChanged(p, $event.target.checked)">
                    <label class="custom-control-label" for="permission_{{allPermissions[i].value}}">{{allPermissions[i].label}}</label>
                </div>
            </div>
        </div>
    </div>
</form>