<div class="page-position">
    <app-vehicle-information></app-vehicle-information>
    <app-next-back-button [disableCalculate]="!isPageValid" [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-button>
</div>