.form-field__input,
.form-field__textarea,
.form-field__label {
  margin-left: 0px;
  width: 100%;
  padding: 0 0 0 0;
  margin-top: 5px;
}

.policy-changes-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.policy-change-label {
  padding-bottom: 5px;
}