
<app-agent-dashboard></app-agent-dashboard>

<!--
<div class="row">
    <div class="col-xl-5 col-md-12">
        <app-submission-section></app-submission-section>
        <app-policy-section></app-policy-section>
    </div>

    <div class="col-xl-5 col-md-12">
        <app-billing-section></app-billing-section>
        <app-reports-section></app-reports-section>
    </div>
    <div class="col-xl-2 col-md-12">
        <app-task-section></app-task-section>
        <app-notes-section></app-notes-section>
        <app-management-section></app-management-section>
    </div>
</div> -->
