<div class="app flex-row align-items-center">
    <div class="container">

        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body text-center">
                            <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
                                <i class="icons icon-lock fa-5x"></i>
                                <h1 id="title" class="mx-auto text-align-center my-3">Forgot Password</h1>
                                <p class="text-muted">Please enter your email</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>

                                    <input type="text" formControlName="email" id="email" name="email"
                                        class="form-control" placeholder="Email Address" autocomplete="email" required maxlength="100">

                                    <app-validation-error [control]="form.email" inputName="Email Address"></app-validation-error>

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" [attr.disabled]="isForgotPasswordDisable ? 'disabled' : null" class="btn btn-primary px-4 col-12">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
