
<div class="page-position">
  <form [formGroup]="this.Data.formInfo" id="frmBrokerInfo">
    <app-claims-history-section></app-claims-history-section>
    <app-next-back-button [disableCalculate]="Data.formInfo.invalid" [isScrollPage]="isScroll" (clickType)="onClick($event)"></app-next-back-button>
   </form>
</div>
