
<div class="list-group list-group-accent">

    <!-- <div *ngFor="let nav of navService.mainMenuList" class="list-group-item list-group-item-divider">
        <a class="nav-link" [routerLink]="nav.controllerName">
            <div>{{nav.menuLabel}}</div>
        </a>
    </div> -->
</div>