<div class="offset-md-3 col-md-6 row">

    <table class="table table-striped table-outline table-bordered">
        <thead class="thead-light text-center">
            <tr>
                <th scope="col" colspan="2">COMMODITIES HAULED (Total must add to 100%)</th>
            </tr>
            <tr>
                <th scope="col" class="col-l">Commodity</th>
                <th scope="col" class="col-m">Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col"> 
                    <input class="form-control"/>
                </td>
                <td scope="col">
                    <div class="input-group">   
                        <input [placeholder]="0" class="form-control" type="number"/>
                        <div class="input-group-append">
                            <div class="input-group-text">%</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col"> 
                    <input class="form-control"/>
                </td>
                <td scope="col">
                    <div class="input-group">   
                        <input [placeholder]="0" class="form-control" type="number"/>
                        <div class="input-group-append">
                            <div class="input-group-text">%</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col"> 
                    <input class="form-control"/>
                </td>
                <td scope="col">
                    <div class="input-group">   
                        <input [placeholder]="0" class="form-control" type="number"/>
                        <div class="input-group-append">
                            <div class="input-group-text">%</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="col"> 
                    <input class="form-control"/>
                </td>
                <td scope="col">
                    <div class="input-group">   
                        <input [placeholder]="0" class="form-control" type="number"/>
                        <div class="input-group-append">
                            <div class="input-group-text">%</div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>