<div class="page-position">
  <div class="card sticky-body">
      <div class="card-header">
          <i class="icons header-icon" [ngClass]="hidePolicyDocuments ? 'icon-arrow-down': 'icon-arrow-up'" data-toggle="collapse"
              href="#policyDocumentsCard" (click)="ToggleHidePolicyDocuments()"></i>
          <strong>Policy Documents</strong>
      </div>
      <div id="policyDocumentsCard" class="show">
          <div class="card-body standard-padding collapse show" id="policyDocuments" style="padding-top: 1.5%">
            <div class="col">
              <div class="row pb-2">
                <div class="col-9">
                  <label style="margin-bottom: -20px; padding-top: 1rem;">
                    <h4>Policy Documents</h4>
                  </label>
                </div>
              </div>
              <app-documents-list [disableItems]="disableItems" [policy]="true" [isPolicyCategory]="true"></app-documents-list>
            </div>
          </div>
      </div>
  </div>
  <div class="card sticky-body">
    <div class="card-header">
      <i class="icons header-icon" [ngClass]="hideBillingDocuments ? 'icon-arrow-down': 'icon-arrow-up'" data-toggle="collapse"
          href="#billingDocumentsCard" (click)="ToggleHideBillingDocuments()"></i>
      <strong>Billing Documents</strong>
    </div>
    <div id="billingDocumentsCard" class="show">
        <div class="card-body standard-padding collapse show" id="billingDocuments" style="padding-top: 1.5%">
          <div class="col">
            <div class="row pb-2">
              <div class="col-9">
                <label style="margin-bottom: -20px; padding-top: 1rem;">
                  <h4>Billing Documents</h4>
                </label>
              </div>
            </div>
            <app-documents-list [disableItems]="disableItems" [policy]="true" [isBillingCategory]="true" [isPolicyCategory]="false"></app-documents-list>
          </div>
        </div>
    </div>
  </div>
  <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
</div>