<div class="card shadow-sm min-height-agent-dashboard customized-header-agent-dashboard customized-blue-agent-dashboard cards-margin">
  <div class="pb-0 pt-1 card-header text-uppercase text-center font-weight-bold customized-header-agent-dashboard customized-blue-agent-dashboard">
    <div class="">POLICIES</div>
  </div>
  <div class="card-body card-body-dashboard-padding ">
      <div><a [routerLink]="" (click)="onClick('Active')" class="text-light dashboard-font">Active Policies ({{this.dashboardData.dashboardCount.activePoliciesCount}})</a></div>
      <div><a [routerLink]="" (click)="onClick('Canceled')" class="text-light dashboard-font">Canceled Policies ({{this.dashboardData.dashboardCount.cancelledPoliciesCount}})</a></div>
  </div>
</div>
