<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <strong>Submissions</strong>
      </div>
      <div class="col-3">
        <a [routerLink]="['/submissions/new/applicant']"
          class="pull-right text-primary text-decoration-none font-weight-bold">
          Create Submission
        </a>
      </div>
    </div>
  </div>
  <div [style.padding-top.px]="15">
    <div class="col-2 input-group my-0 pull-right">
      <input type="text" id="anyKeywordSearch" #anyKeywordSearch class="form-control" placeholder="Search" #Search  title="Search" (keydown.enter)="submissionListData.searchAnyKeyword(anyKeywordSearch.value)" >
      <div class="input-group-append">
        <button class="btn btn-secondary search-button" type="button" (click)="submissionListData.searchAnyKeyword(anyKeywordSearch.value)">
          <i class="fa fa-search customized-blue"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive" style="width:98%; margin:auto;">
    <div class="spinner-border text-secondary spinner" role="status" *ngIf="submissionListData.loading">
      <span class="sr-only">Loading...</span>
    </div>
    <table class="table table-sm table-hover table-striped text-center" *ngIf="!submissionListData.loading" style="width:250%;margin-left:-20px;">
      <thead>
        <tr>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="policyNumber">Policy #</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="submissionNumber">Submission #</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="insuredName">Named Insured
          </th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="broker">Broker</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="inceptionDate" data-type="date">Inception Date</th>
          <!-- <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="expirationDate"data-type="date">Expiration Date</th> -->
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="status">Status</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="status">Assigned to</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="numberOfUnits"># Units</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="state">State</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="submissionType">Submission Type</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="policyLimit">Policy Limit</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="newVenture">New Venture</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="neededBy">Needed By</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="brokerContact">Broker Contact</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="qAC">QAC</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="midTerm">Mid Term</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="lastNoteAdded">Last Note Added</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="auSpecialist">Assistant Underwriter</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="auRep">AU Rep</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="aupsr">AU PSR</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="brokerZip">Broker Zip</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="brokerState">Broker State</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="brokerCity">Broker City</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="dateSubmitted" data-type="date">Date Submitted</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="underwriter">Underwriter</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="expiringPolicy">Expiring Policy</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="useClass">Use Class</th>
          <th (click)="submissionListData.sort($event.target)" data-order="desc" data-name="lossRatio">Loss Ratio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="26" *ngIf="submissionListData.pagedItems.length == 0">No Results Found</td>
        </tr>
        <tr *ngFor="let risk of submissionListData.pagedItems">
          <td><a [routerLink]="risk.isPolicy ? ['/policies/', risk.riskId, risk.currentRiskId, 'summary'] :['/submissions/', risk.currentRiskId, 'applicant']">{{risk.policyNumber}}</a></td>
          <td><a [routerLink]="risk.isPolicy ? ['/policies/', risk.riskId, risk.currentRiskId, 'summary'] :['/submissions/', risk.currentRiskId, 'applicant']">{{risk.submissionNumber}}</a></td>
          <td>{{risk.insuredName}}</td>
          <td>{{risk.broker}}</td>
          <td>{{risk.inceptionDate | date}}</td>
          <!-- <td>{{risk.expirationDate | date}}</td> -->
          <td>{{risk.status}}</td>
          <td>{{getName(risk.assignedToId)}}</td>
          <td>{{risk.numberOfUnits}}</td>
          <td>{{risk.state}}</td>
          <td>{{risk.submissionType}}</td>
          <td>{{risk.policyLimit}}</td>
          <td>{{risk.newVenture}}</td>
          <td>{{risk.neededBy}}</td>
          <td>{{risk.brokerContact}}</td>
          <td>{{risk.qAC}}</td>
          <td>{{risk.midTerm}}</td>
          <td>{{risk.lastNoteAdded | date}}</td>
          <td>{{risk.auSpecialist}}</td>
          <td>{{risk.auRep}}</td>
          <td>{{risk.aupsr}}</td>
          <td>{{risk.brokerZip}}</td>
          <td>{{risk.brokerState}}</td>
          <td>{{risk.brokerCity}}</td>
          <td>{{risk.dateSubmitted | date}}</td>
          <td>{{risk.underwriter}}</td>
          <td>{{risk.expiringPolicy}}</td>
          <td>{{risk.useClass}}</td>
          <td>{{risk.lossRatio}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [style.padding-top.px]="15">
    <app-table-pagination (setPage)="setPage($event)" [pager]="submissionListData.pager"
      [loading]="submissionListData.loading"></app-table-pagination>
  </div>
</div>
