<div class="row mt-4">

    <div class="col-md-2">
        <app-policy-search-filter></app-policy-search-filter>
    </div>

    <div class="col-md-10">
        <app-policy-table></app-policy-table>
    </div>
</div>