<div class="card">
    <div class="card-header">
        <div class="row">

            <div class="col">
                <strong>RUNNING RATERS</strong>
            </div>
            <div class="col-4">
                <a [routerLink]="['/premium-rater-pool']"
                    class="pull-right text-uppercase text-primary text-decoration-none font-weight-bold">
                    VIEW ALL PRELOADED RATERS
                </a>
            </div>

        </div>
    </div>
    <div class="card-body p-4">
        <app-premium-rater-pool-list
            [runningOnly]="true"
            [emptyText]="'No running raters in rater pool.'"
            ></app-premium-rater-pool-list>
    </div>

</div>