.no-border {
    border-left: hidden;
    border-right: hidden;
}

.no-border-top {
    border-top: hidden;
}

.no-border-bot {
    border-bottom: hidden;
}

.dynamic-table {
    padding: 1rem 0;
  
    .table-wrapper {
      overflow-x: scroll;
    }
  
    .auto-horizontal-scroll {
      overflow-x: auto;
    }
  
    table {
      border: 1px solid #c8ced3;
      margin-bottom: 0;
    }
  
    th {
      background: #f0f3f5;
      border-bottom-width: 1px;
      vertical-align: middle;
      word-break: normal;
  
      &:last-child {
        word-break: break-all;
      }
    }
  
    tr:nth-child(even) {
      background-color: #f7f7f7;
    }
  
  }
  
  .custom-control {
    padding-left: 1.2rem;
  }

  .radio-label-reset-color {
    color: rgb(35, 40, 44) !important;
  }
