<div class="col-md-12">

    <div  class="form-inline row mb-2">
        <div class="col-md-3">
            <div class="text-right">Display Name</div>
        </div>
        <div class="form-group col-md-9">
            <strong class="mr-4">{{user.displayName}}</strong>
        </div>
    </div>


    <div  class="form-inline row mb-2">
        <div class="col-md-3">
            <div class="text-right">Username</div>
        </div>
        <div class="form-group col-md-9">
            <strong class="mr-4">{{user.username}}</strong>
            <!-- <button type="button" class="btn btn-primary btn-sm" > Change Username</button>     -->
        </div>
    </div>
    <div  class="form-inline row mb-2">
        <div class="col-md-3">
            <div class="text-right">Password</div>
        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-primary btn-sm " (click)="onPasswordChange()">Change Password</button>    
        </div>
    </div>
</div>
