<div class="card sticky-body">
    <div class="card-header">
        <i class="icons header-icon" [ngClass]="hideMe ? 'icon-arrow-down': 'icon-arrow-up'" data-toggle="collapse"
            href="#insuredCard" (click)="ToggleHiding()"></i>
        <strong>Insured</strong>
    </div>
    <div id="insuredCard" class="show">
        <!-- <div class="card-body standard-padding col-lg-12">
        </div> -->
        <div class="card-body standard-padding collapse show" id="policySummaryPage" >
          <div class="col">
            <form *ngIf="summaryData.insuredForm as insuredFormGroup" [formGroup]="insuredFormGroup">
                <div class="row">
                    <div class="col-md-4 input-container">
                      <label>Business Address</label>
                      <input type="text" class="form-control state-padding w-100" formControlName="mailingAddress" title="{{this.summaryData.insuredForm.value.mailingAddress}}" readonly>
                    </div>
                    <div class="col-md-4 input-container">
                        <label>Email</label>
                        <input type="text" class="form-control state-padding w-100" formControlName="email" title="{{this.summaryData.insuredForm.value.email}}" readonly>
                    </div>
                    <div class="col-md-4 input-container">
                      <label>Phone / Extension</label>
                      <input type="text" class="form-control state-padding w-100" formControlName="mobilePhone" mask="(000) 000-0000" title="{{this.summaryData.insuredForm.value.mobilePhone | mask: '(000) 000-0000'}}" readonly>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>