<div class="card">
    <div class="card-header">Subsidiaries/Affiliated Companies</div>
    <div class="card-body">

        <!-- Any Subsidiaries / Affiliated Companies?  -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Any Subsidiaries / Affiliated Companies?:</label>
            <div class="col-md-3">
                <label class="switch switch-pill switch-primary">
                    <input type="checkbox" class="switch-input"  >
                    <span class="switch-slider" data-checked="YES" data-unchecked="NO"></span>
                </label>
            </div>
        </div>

        <fieldset *ngIf="true">

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Name:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Type of Business:</label>
            <div class="col-md-3">
                <select class="form-control" class="form-control" ></select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker"># of Vehicles/Size of Company::</label>
            <div class="col-md-2">
                <input type="number" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Relationship:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Included in insurance?:</label>
            <div class="col-md-3">
                <label class="switch switch-pill switch-primary">
                    <input type="checkbox" class="switch-input" >
                    <span class="switch-slider" data-checked="YES" data-unchecked="NO"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Have you owned any other companies in the past?:</label>
            <div class="col-md-3">
                <label class="switch switch-pill switch-primary">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="YES" data-unchecked="NO"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Please provide names/years in operation:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Does applicant allow others to operate under their authority?:</label>
            <div class="col-md-3">
                <label class="switch switch-pill switch-primary">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="YES" data-unchecked="NO"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right" for="broker">Has the applicant previously allowed others to operate under their authority?:</label>
            <div class="col-md-3">
                <label class="switch switch-pill switch-primary">
                    <input type="checkbox" class="switch-input" checked>
                    <span class="switch-slider" data-checked="YES" data-unchecked="NO"></span>
                </label>
            </div>
        </div>

        </fieldset>
    </div>
</div>  



