.custom-table-header {
  background: #f0f3f5;
}

.headers {
  vertical-align: middle;
}

.noresultfound {
  text-align: center;
}

.control-icons {
  button {
    width: inherit;
    height: auto;
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;

    &:focus {
    outline: none;
    }
  }
}

td:last-child {
  i {
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
  }

  .icon-note {
    color: #20a8d8;
  }

  .icon-trash {
    color: #f86c6b;
  }

  .icon-task {
    color: #696969;
  }
}

