<div class="app flex-row align-items-center">
    <div class="container">

        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body text-center">
                            <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
                                <i class="icons icon-lock fa-5x"></i>
                                <h1 id="title" class="mx-auto text-align-center my-3">Reset Password</h1>
                                <p class="text-muted">Please enter your new password</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock-open"></i></span>
                                    </div>

                                    <input type="password" formControlName="password" id="password" name="password"
                                        class="form-control p-right-12" placeholder="Password"
                                        [ngClass]="{ 'is-invalid': form.password.errors && form.password.dirty }"
                                        required maxlength="50">

                                    <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="form.password.errors.required">{{ErrorMessageConstant.requiredErrorMessage.format(PasswordFormConstants.password)}}</div>
                                        <div *ngIf="form.password.errors.minlength">{{ErrorMessageConstant.passwordErrorMessage.minlength}}</div>
                                        <div *ngIf="form.password.hasError('hasNumber')">{{ErrorMessageConstant.passwordErrorMessage.hasNumber}}</div>
                                        <div *ngIf="form.password.hasError('hasCapitalCase')">{{ErrorMessageConstant.passwordErrorMessage.hasCapitalCase}}</div>
                                        <div *ngIf="form.password.hasError('hasSmallCase')">{{ErrorMessageConstant.passwordErrorMessage.hasSmallCase}}</div>
                                        <div *ngIf="form.password.hasError('hasSpecialCharacters')">{{ErrorMessageConstant.passwordErrorMessage.hasSpecialChar}}</div>
                                    </div>

                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock-open"></i></span>
                                    </div>

                                    <input type="password" formControlName="rePassword" id="rePassword"
                                        name="rePassword" class="form-control p-right-12" placeholder="Confirm Password"
                                        [ngClass]="{ 'is-invalid': form.rePassword.errors && form.rePassword.dirty }"
                                        required maxlength="50">

                                    <div *ngIf="form.rePassword.invalid && (form.rePassword.dirty || form.rePassword.touched)"
                                        class="invalid-feedback">

                                        <div *ngIf="form.rePassword.errors.required">{{ErrorMessageConstant.requiredErrorMessage.format(PasswordFormConstants.confirmRetypePassword)}}</div>
                                        <div *ngIf="!form.rePassword.errors.required && !form.rePassword.errors.isMatching">{{ErrorMessageConstant.passwordErrorMessage.doNotMatch}}</div>
                                    </div>
                                </div>

                                <!-- {{getErrors()}} -->

                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary px-4 col-12"
                                        [attr.disabled]="isResetPasswordDisable ? 'disabled' : null">Reset Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
