<div class="page-position">
    <app-filings-information-section #filingsInfo></app-filings-information-section>
    <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
</div>

