<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="col">

                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card-group">
                            <div class="card p-4">
                                <div class="card-body">
                                    <form [formGroup]="frmLogin" (submit)="onSubmit()">
                                        <h1>Rater Admin</h1>
                                        <p class="text-muted">Sign In to your account</p>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-user"></i></span>
                                            </div>
                                            <input type="text" formControlName="username"
                                             class="form-control" placeholder="Username"
                                                autocomplete="username" required>
                                        </div>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-lock"></i></span>
                                            </div>
                                            <input type="password" formControlName="password" class="form-control" placeholder="Password"
                                                autocomplete="current-password" required>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="submit" class="btn btn-primary px-4">Login</button>
                                            </div>
                                            <div class="col-6 text-right" *ngIf="false">
                                                <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>