<div class="page-position">
    <app-business-details-section></app-business-details-section>
    <app-next-back-button [disableCalculate]="!applicantData.isBusinessDetailsValidToRate" [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-button>
</div>
