<div role="document">
  <div class="modal-header sticky-modal-header">
    <h5 class="modal-title">{{TransferPaymentConstants.title}}</h5>
    <button type="button" class="close" (click)="hideModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form *ngIf="transferPaymentForm as transferPaymentForm" [formGroup]="transferPaymentForm">
    <div class="modal-body">

      <div class="row">

        <div class="form-group col-md-6 field">
          <label class="required">{{TransferPaymentConstants.transferToPolicyNumber}}</label>
          <div>
            <input type="text" class="form-control full-width" placeholder="" formControlName="transferToPolicy"
              maxlength="30"
              [ngClass]="transferPaymentForm.get('transferToPolicy').invalid && transferPaymentForm.get('transferToPolicy').touched ? 'is-invalid' :  ''">
            <span class="invalid-feedback d-flex"
              *ngIf="transferPaymentForm.get('transferToPolicy').errors?.required && transferPaymentForm.get('transferToPolicy').touched">
              {{ErrorMessageConstant.requiredErrorMessage.format(TransferPaymentConstants.transferToPolicyNumber)}}
            </span>
            <span class="invalid-feedback d-flex" *ngIf="isTransferToSelf()">
              {{TransferPaymentConstants.transferToSelfError}}
            </span>
          </div>
        </div>

        <div class="form-group col-md-4 field">
          <label class="required">{{TransferPaymentConstants.amount}}</label>
          <div>
            <input type="text" class="form-control full-width" placeholder="" formControlName="amount" currencyMask
              [options]="{ precision: 2 }" maxlength="11" readonly
              [ngClass]="transferPaymentForm.get('amount').invalid && transferPaymentForm.get('amount').touched ? 'is-invalid' :  ''">
            <span class="invalid-feedback d-flex"
              *ngIf="transferPaymentForm.get('amount').errors?.required && transferPaymentForm.get('amount').touched">
              {{ErrorMessageConstant.requiredErrorMessage.format(TransferPaymentConstants.amount)}}
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 field">
          <label>{{TransferPaymentConstants.comment}}</label>
          <div>
            <textarea type="text" class="form-control field-text-area" placeholder="" formControlName="comment"
              maxlength="1000"
              [ngClass]="transferPaymentForm.get('comment').invalid && transferPaymentForm.get('comment').touched ? 'is-invalid' :  ''">
                  </textarea>
          </div>
        </div>
      </div>

    </div>


    <div class="modal-footer sticky-modal-footer">
      <button class="btn btn-primary" [disabled]="!transferPaymentForm.valid || isTransferToSelf()"
        (click)="onTransfer()">{{TransferPaymentConstants.transfer}}</button>
      <button class="btn btn-danger" (click)="onCancel()">{{TransferPaymentConstants.cancel}}</button>
    </div>
  </form>
</div>