.sticky-bottom {
  position: fixed;
  right: 30px;
  bottom: 0;
  left: 270px;
  z-index: 1030;
  background:white;
}

.default{
  background:white;
}

.card-body {
  border: solid 1px lightgray;
  padding: 0.7rem 1.3%;
}

.right-side-action-button {
  position: absolute;
  right:5px;
}

button:disabled {
  cursor: not-allowed;
}

@media (max-width: 992px) {
  .sticky-bottom {
    left: 30px;
  }
}

.validation-msg {
  color: #DC143C;
}