<!-- <app-policy-summary></app-policy-summary> -->

<div class="page-position">
  <app-billing-summary></app-billing-summary>
  <app-installment-schedule></app-installment-schedule>
  <app-payments></app-payments>
  <app-fees></app-fees>
  <app-taxes></app-taxes>
  <!-- <app-recurring-payment-enrollment></app-recurring-payment-enrollment> -->

  <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
</div>