<div class="card field">
    <div class="card-header">
      <i class="icon-arrow-down icons header-icon" (click)="toggleAgent()" *ngIf="isHidden"></i>
      <i class="icon-arrow-up icons header-icon" (click)="toggleAgent()" *ngIf="!isHidden"></i>
      <b>Agent</b>
    </div>
    <div class="card-body show" *ngIf="!isHidden">
      <div class="d-flex flex-row-reverse">
        <app-search-field (onInputSearch)="searchRecords($event)"></app-search-field>
      </div>
      <div class="agency-table">
      <table class="table table-hover" [mfData]="agentData.agentList" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead class="custom-table-header">
            <th class="headers" *ngFor="let header of agentData.agentListHeaders">
              <mfDefaultSorter by="{{header.columnName}}">{{ header.name }}</mfDefaultSorter>
            </th>
            <th class="headers text-center">
              Actions
              <div>
                  <button type="button" class="btn btn-primary mx-1" [tooltip]="TableConstants.add"
                    data-placement="top" (click)="addAgent()"><i class="icon-plus"></i></button>
              </div>
            </th>
        </thead>
        <tbody class="custom-table-body">
            <tr class="noresultfound" *ngIf="mf.data.length === 0">
                <td colspan="4" *ngIf="agentData.isAgentLoading"><div class="spinner-border text-secondary" role="status">
                  <span class="sr-only">Loading...</span>
                </div></td>
                <td colspan="4" *ngIf="!agentData.isAgentLoading"> {{ genericLabel.noResultsFound }}</td>
            </tr>
            <ng-container *ngFor="let item of mf.data">
                <tr>
                    <td>{{item?.agent?.entity?.fullName}}</td>
                    <td>{{item?.subAgency?.entity?.fullName}}</td>
                    <td>{{item?.agent?.entity?.isActive ? 'Active' : 'Inactive'}}</td>
                    <td><div class="control-icons text-center">
                      <button type="button" [tooltip]="TableConstants.edit" (click)="editAgent(item)">
                        <i class="icon-note"
                          readonly></i>
                      </button>
                      <button type="button" [tooltip]="TableConstants.delete" (click)="deleteAgent(item)">
                        <i class="icon-trash"
                          readonly></i>
                      </button>
                    </div></td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot *ngIf="agentData.agentList.length > 10">
          <tr>
              <td colspan="4">
                  <mfBootstrapPaginator style="display: flex;" class="justify-content-end text-center pt-3"></mfBootstrapPaginator>
              </td>
          </tr>
          </tfoot>
    </table>
  </div>
    </div>
  </div>