<div class="text-right">
    <hr>
  
    <div class="policy-edit-tooltip-wrapper" data-placement="left" [tooltip]="endorsementNotAllowedTooltip">
      <button class="btn btn-primary" (click)="this.policySummaryData.toggleEditPolicy()"
        [disabled]="policySummaryData.canEditPolicy === true || this.submissionData.isCancelledPolicy">EDIT</button>
    </div>

    <hr>
</div>
  