<div class="modal-header sticky-modal-header">
  <h5 class="modal-title">{{modalTitle}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="this.onCancel()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body modalUpload" [formGroup]="this.fg">

  <div class="form-group field col-md-12">
    <label class="required" for="relevantDocumentDesc">Description</label>
    <div class="">
        <textarea id='description' rows="2" cols="1" class="field-text-area-border" formControlName="description" maxlength="100"></textarea>
        <app-validation-error [control]="this.fc.description" [inputName]="'Description'"></app-validation-error>
    </div>
  </div>

    <div class="form-group field col-md-12">
      <label for="createdDate">Date Added</label>
      <div class=" ">
        <app-date-picker formControlName="createdDate" id="createdDate" [options]="{
          dateFormat: 'mm/dd/yyyy'
        }"
        [isDisabled]="true"
        ></app-date-picker>
        <app-validation-error [control]="this.fc.createdDate" [inputName]="'Date Added'"></app-validation-error>
      </div>
    </div>

    <div class="form-group field col-md-12">
      <label class="note" for='isPreBind'>Maximum upload file size: 22MB</label>
    </div>

    <div class="form-group field col-md-12">
      <div class="input-group mb-3">
        <button class="btnUpload text-nowrap mr-2 pointer " (click)='selectFile()'>
          Choose File
        </button>
        <span [style.margin-top.px]="4">{{filesSelected}}</span>
        <textarea hidden id="fileName" class="form-control ellipse" aria-label="" formControlName="fileName"
          [value]="Data.getFileName" [attr.title]="Data.getFileName" readonly></textarea>
      </div>
    
      <div class="ellipse">
        <div *ngIf="Data.getFileName !== ''">Upload the following:</div>
        <span [attr.title]="Data.getFileName">{{Data.getFileName}}</span>
      </div>
      <input type="file" #fileSelection placeholder="Choose File" class="d-none" [accept]="acceptedFileTypes" multiple
        (change)="fileChange(fileSelection.files)">
    
      <div *ngIf="fc.fileValidation.errors?.invalidFileType && (fg.touched || fg.dirty)" class="invalid-feedback">
        {{ invalidFileTypeErrorMessage }}
      </div>
      <div class="mt-3" *ngIf="fc.fileValidation.errors?.invalidFileSize && (fg.touched || fg.dirty)">
        <div style="font-size:80%;">{{ invalidSizeNames }}</div>
        <span class=invalid-feedback>{{ invalidFileSizeErrorMessage }}</span>
      </div>
    </div>
</div>

<div class="modal-footer sticky-modal-footer">
  <button type="button" class="btn btn-primary" (click)="this.SubmitAttachment(this.fileSelection.files)" [disabled]="this.fg.invalid">{{modalButton}}</button>
  <button type="button" class="btn btn-danger" (click)="this.onCancel()">Cancel</button>
</div>
