<div class="page-position">
    <app-policy-edit-button></app-policy-edit-button>
    <app-additional-interest-section></app-additional-interest-section>
    <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
</div>