table {
  border: 1px solid #c8ced3;
  margin-bottom: 0;
}

th {
  background: #f0f3f5;
  border-bottom-width: 1px;
  vertical-align: middle !important;
  word-break: normal;

  &:last-child {
    word-break: break-all;
  }
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

td:last-child {
  width: 60px;
  text-align: center;

  i {
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
  }

  .icon-note {
    color: #20a8d8;
  }

  .icon-trash {
    color: #f86c6b;
  }
}

td {
  textarea {
    background-color: transparent;
  }

  &:nth-child(1) {
    word-break: break-word;
  }

  &:nth-child(2) {
    word-break: normal;
  }
}

.text-center {
  text-align: center;
}

.text-end {
  text-align-last: end;
}

textarea {
  width: 100%;
  height: 24px;
}

.control-buttons {
  margin: auto;;
  width: 100%;  
  text-align: right;
  margin-top: 1rem;
}

.sticky-modal-header {
  position: sticky;
  top: 0;
  z-index: 2000;
  background-color: #f0f3f5;
}

.sticky-modal-footer {
  position: sticky;
  bottom: 0;
  z-index: 2000;
  background-color: rgb(255, 255, 255);
}

.no-data-message {
  font-weight: bold;
  margin-top:10px;
}

.no-border{
  border:hidden;
}

.add-destination-btn {
  width:155px;
}

.custom-control {
  padding-left: 1.2rem;
}

.no-data-message {
  font-weight: bold;
  margin-top:10px;
}

.disable-button {
  cursor: not-allowed !important;
  color: #a9a9a9 !important;
}

.description-col {
  white-space: pre-line;
}

.col {
  padding-right: 0px;
  padding-left: 0px;
}

.dest-section {
  margin-left: 30px;
  margin-right: 30px;
}

