<div class="page-position">
    <app-additional-interest-section></app-additional-interest-section>
    <app-next-back-button [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-button>
</div>