<div class="pt-2" style="margin:auto;width:60%">
  <div class="col">
    <table class="table mt-4 mb-2" style="width:100%">
      <thead>
        <tr>
          <th (click)="sort($event.target)" data-order="desc" data-name="commodity" style="width: 65%">Commodities Hauled<span class="required"></span></th>
          <th (click)="sort($event.target)" data-order="desc" data-name="percentageOfCarry" style="width: 20%">% of Carry</th>
          <th style="padding:5px; text-align: center;">Actions<br /> 
            <button type="button" class="btn btn-primary" [disabled]="!this.policySummaryData?.canEditPolicy" (click)="setEdit(null)" [tooltip]="TableConstants.add">
              <i class="icon-plus"></i>
            </button>
            <div #btnAddCommodity class="d-none" data-toggle="modal" data-target="#addUpdateDestination"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commodity of this.data.pagedItems">
          <td><span>{{commodity.commodity}}</span></td>
          <td><span>{{commodity.percentageOfCarry | number : '0.1-1'}}</span></td>
          <td>
            <div class="table-button-fixed">
              <i [className]="(this.policySummaryData?.canEditPolicy) ? 'icon-note' : 'icon-note disable-button'" (click)="setEdit(commodity)" data-toggle="modal" data-target="#addUpdateDestination" [tooltip]="TableConstants.edit"></i>
              <i [className]="(this.policySummaryData?.canEditPolicy) ? 'icon-trash' : 'icon-trash disable-button'" (click)="delete(commodity)" [tooltip]="TableConstants.delete"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="commoditiesHauled.length < 1">
      <div class="text-center col-lg-12 no-data-message">
          <span>Commodities Hauled is required</span>
      </div>
    </div>
  </div>
  <app-table-pagination (setPage)="this.data.setPage($event, this.data.commoditiesHauled)" [pager]="this.data.pager" [loading]="this.data.loading"></app-table-pagination>
</div>