<div class="app flex-row align-items-center">
    <div class="container">

        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body text-center">
                            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                                <i class="icons icon-lock fa-5x"></i>
                                <h1 id="title" class="mx-auto text-align-center my-3">{{PasswordFormConstants.changePassword}}</h1>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock-open"></i></span>
                                    </div>

                                    <input type="password" formControlName="currentPassword" id="currentPassword" name="currentPassword"
                                        class="form-control p-right-12" placeholder="Current Password"
                                        [ngClass]="{ 'is-invalid': form.currentPassword.errors && form.currentPassword.dirty }"
                                        required maxlength="50">

                                    <div *ngIf="form.currentPassword.invalid && (form.currentPassword.dirty || form.currentPassword.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="form.currentPassword.errors.required">{{ErrorMessageConstant.requiredErrorMessage.format(PasswordFormConstants.password)}}</div>
                                        <div *ngIf="form.currentPassword.errors.incorrectPassword">{{ErrorMessageConstant.passwordErrorMessage.incorrectPassword}}</div>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock-open"></i></span>
                                    </div>

                                    <input type="password" formControlName="newPassword" id="newPassword" name="newPassword"
                                        class="form-control p-right-12" placeholder="New Password"
                                        [ngClass]="{ 'is-invalid': form.newPassword.errors && form.newPassword.dirty }"
                                        required maxlength="50">

                                    <div *ngIf="form.newPassword.invalid && (form.newPassword.dirty || form.newPassword.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="form.newPassword.errors.incorrectNewPassword">{{ErrorMessageConstant.passwordErrorMessage.incorrectNewPassword}}</div>
                                        <div *ngIf="form.newPassword.errors.required">{{ErrorMessageConstant.requiredErrorMessage.format(PasswordFormConstants.newPassword)}}</div>
                                        <div *ngIf="form.newPassword.errors.minlength">{{ErrorMessageConstant.passwordErrorMessage.minlength}}</div>
                                        <div *ngIf="form.newPassword.hasError('hasNumber')">{{ErrorMessageConstant.passwordErrorMessage.hasNumber}}</div>
                                        <div *ngIf="form.newPassword.hasError('hasCapitalCase')">{{ErrorMessageConstant.passwordErrorMessage.hasCapitalCase}}</div>
                                        <div *ngIf="form.newPassword.hasError('hasSmallCase')">{{ErrorMessageConstant.passwordErrorMessage.hasSmallCase}}</div>
                                        <div *ngIf="form.newPassword.hasError('hasSpecialCharacters')">{{ErrorMessageConstant.passwordErrorMessage.hasSpecialChar}}</div>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock-open"></i></span>
                                    </div>

                                    <input type="password" formControlName="confirmPassword" id="confirmPassword"
                                        name="confirmPassword" class="form-control p-right-12" placeholder="Confirm New Password"
                                        [ngClass]="{ 'is-invalid': form.confirmPassword.errors && form.confirmPassword.dirty }"
                                        required maxlength="50">

                                    <div *ngIf="form.confirmPassword.invalid && (form.confirmPassword.dirty || form.confirmPassword.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="form.confirmPassword.errors.required">{{ErrorMessageConstant.requiredErrorMessage.format(PasswordFormConstants.confirmPassword)}}</div>
                                        <div *ngIf="!form.confirmPassword.errors.required && !form.confirmPassword.errors.isMatching">{{ErrorMessageConstant.passwordErrorMessage.doNotMatch}}</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary px-4 col-12"
                                        [attr.disabled]="isChangePasswordDisable ? 'disabled' : null">{{PasswordFormConstants.changePassword}}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-danger px-4 col-12" 
                                        (click)="onCancel()">{{ PasswordFormConstants.cancel }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>