form {
  padding: 0;
}

.billing-value {
  font-weight: bold;
}

.summary-description {
  text-align: left !important;
  font-weight: bold;
}

#btn-make-payment {
  min-width: 200px;
  width:100%;
  font-weight: 600;
}

.summary-tfoot-border-line {
  border-top: solid;
  border-top-width: 2px;
}

.dynamic-table {
  padding: 1rem 0;

  .table-wrapper {
    overflow-x: scroll;
  }

  .auto-horizontal-scroll {
    overflow-x: auto;
  }

  table {
    border: 1px solid #c8ced3;
    margin-bottom: 0;
  }

  table th, td {
    text-align: right;
  }

  th {
    background: #f0f3f5;
    border-bottom-width: 1px;
    vertical-align: middle;
    word-break: normal;

    &:last-child {
      word-break: break-all;
    }
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  td:last-child {
    i {
      cursor: pointer;
      font-weight: bold;
      margin: 0 5px;
    }

    .icon-note {
      color: #20a8d8;
    }

    .icon-trash {
      color: #f86c6b;
    }
  }

  td {
    textarea {
      background-color: transparent;
    }

    &:nth-child(1){
      word-break: break-word;
    }

    &:nth-child(2){
      word-break: normal;
    }
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align-last: end;
  }

  textarea {
    width: 100%;
    height: 24px;
  }

  .control-buttons {
    text-align: right;
    margin-top: 1rem;
  }
}

.summary-due {
  width: 100%;
  align-content: center;
}





