<div class="container pt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card ">
                <div class="card-header">
                    Filter
                </div>
                <div class="card-body">
                    <app-premium-rater-dump-filter (onFilter)="onFilter($event)"></app-premium-rater-dump-filter>
                </div>
            </div>
        </div>

        <div class="col-md-9">

            <div class="card ">
                <div class="card-header">
                    <strong>PREMIUM RATER DUMP FILES</strong>
                </div>
                <div class="card-body p-4">
                    <app-premium-rater-dump-list></app-premium-rater-dump-list>
                </div>
            </div>

        </div>
    </div>
</div>