
<div>
  <div class="row actionDashboard" >

    <!-- templates -->
    <ng-template #StartNewQuote>
      <div [innerHtml]="'Start New Quote'">
        </div>
    </ng-template>

    <ng-template #ProcessEndorsement>
      <div [innerHtml]="'Process Endorsement'"></div>
    </ng-template>


    <ng-template #MakeAPayment>
      <div [innerHtml]="'Make A Payment'"></div>
    </ng-template>

    <ng-template #ReportClaim>
      <div [innerHtml]="'Report A Claim'"></div>
    </ng-template>

    <div class="col-sm-2">
      <div class="box">
      <h2 class="text-primary mb-0"><i class="fa fa-plus float-left align-middle text-light dashboard-icons"></i></h2>
      <div title="Create Submission" class="h6 text-truncate mt-1 pl-1 text-left align-middle text-light dashboard-font font-bold" routerLink="/submissions/new/applicant/">
        Create Submission</div>
      <!-- <a routerLink="/submissions/new/applicant/" class="text-decoration-none font-weight-bold" >Create Submission</a> -->
    </div>
    </div>
    <div class="col-sm-2">
      <div class="box">
        <h2 class="text-primary mb-0"><i class="fa fa-calendar float-left text-light dashboard-icons"></i></h2>
        <div title="Process Endorsement" class="h6 text-truncate mt-1 pl-1 text-left text-light dashboard-font font-bold" (click)="showProcessEndorsementModal()">Process Endorsement</div>
      </div>
    </div>


    <div class="col-sm-2">
      <div class="box">
        <h2 class="text-primary mb-0"><i class="fa fa-credit-card float-left text-light dashboard-icons"></i></h2>
        <div title="Make A Payment" class="h6 text-truncate mt-1 pl-1 text-left text-light dashboard-font font-bold" routerLink="/payment-portal">Make A Payment</div>
      </div>

    </div>

    <div class="offset-md-3 col-md-3">
      <div  class="pr-0 pl-0 col-md-9 input-group float-right" style="margin-top: 0.3rem !important">
        <input class="form-control py-2 search-box" id="anyKeywordSearch" #anyKeywordSearch type="text" placeholder="Search" title="Search" (keydown.enter)="this.onSearchAnyKeyword(anyKeywordSearch.value)">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary search-button" type="button" (click)="this.onSearchAnyKeyword(anyKeywordSearch.value)">
              <i class="fa fa-search customized-blue"></i>
            </button>
        </span>
      </div>

    </div>
  </div>


<!-- BANNERS -->
  <div class="row mb-4">
    <div class="col-xl-12 col-md-12 col-xs-12 col-lg-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
          <li class="customized-dot-buttons"  [ngClass]="{ 'active': i === 0 }" *ngFor="let banner of banners;let i = index;" data-target="#carouselExampleIndicators" [attr.data-slide-to]="i"></li>
        </ol>
        <div class="carousel-inner mb-2">
          <div class="carousel-item" style="cursor: pointer;" [ngClass]="{ 'active': i === 0 }" *ngFor="let banner of banners;let i = index;" >
            <!-- <i class="d-block social-media-icon fa fa-home text-center mt-5 text-primary" aria-hidden="true"> <span class="no-italics customized-font"> Centauri Introduces HO-3 Program in North Carolina </span> </i> -->
            <a style="cursor:default"> <img [src]="banner?.filePath" class="img-responsive image-banner" /> </a> <!--[href]="banner.pageLink" target="_blank"-->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="fa fa-angle-left mr-5 pr-5 carousel-button" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="fa fa-angle-right ml-5 pl-5 carousel-button" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>
<!-- PANELS -->
  <div class="row">
    <div class="col-xl-2 col-md-2 col-xs-2 col-lg-2">
      <app-quote-section></app-quote-section>
    </div>

    <div class="col-xl-2 col-md-2 col-xs-2 col-lg-2">
      <app-policy-section></app-policy-section>
    </div>
    <div class="col-xl-4 col-md-4 col-xs-4 col-lg-4">
      <app-quick-reference-section></app-quick-reference-section>
    </div>

    <div class="col-xl-4 col-md-4 col-xs-4 col-lg-4">
      <app-help-section></app-help-section>
    </div>

  </div>
</div>
