.card {
  margin-top: 10px;
}



.agency-table {
  padding: 1rem 0;

  .table-wrapper {
      overflow-x: scroll;
  }

  .auto-horizontal-scroll {
      overflow-x: auto;
  }

  table {
      // border: 1px solid #c8ced3;
      margin-bottom: 0;
      table-layout: fixed;
  }

  thead, tbody {
    border-left: 1px solid #c8ced3;
    border-right: 1px solid #c8ced3;
  }
  
  th {
      background: #f0f3f5;
      border-bottom-width: 1px;
      vertical-align: middle;
      word-break: normal;

      &:last-child {
          word-break: break-all;
      }
  }

  tr:nth-child(even) {
      background-color: #f7f7f7;
  }
}

.custom-table-header {
  background: #f0f3f5;
}

.headers {
  vertical-align: middle;
}

.noresultfound {
  text-align: center;
}

.control-icons {
  button {
    width: inherit;
    height: auto;
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;

    &:focus {
      outline: none;
    }
  }
}

td:last-child {
  i {
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px;
  }

  .icon-note {
    color: #20a8d8;
  }

  .icon-trash {
    color: #f86c6b;
  }

  .icon-task {
    color: #696969;
  }

}




