<div  class="card shadow-sm">
    <div class="card-header text-uppercase">
        <div class="row">
            <div class="col-md-6">
                Notes
            </div>
            <div class="col-md-6">
                <a href="#" class="text-decoration-none pull-right">Add</a>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="text-center">
            <h3 class="font-weight-light">Write some notes.</h3>
        </div>
    </div>
</div>