<div class="card sticky-body">
  <div class="card-header cursor-pointer" (click)="this.toggleCollapse.clickExpandCollapse('bindDocuments', $event)">
    <app-toggle-collapse toggleName="bindDocuments"></app-toggle-collapse>
    <strong> &nbsp; Documents</strong>
  </div>
  <div class="card-body standard-padding collapse show" id="bindDocuments" style="padding-top: 1.5%">
    <div class="col">
      <div class="disable-overlay" *ngIf="this.submissionData?.isIssued"></div>
      <div class="row pb-2">
        <div class="col-9">
          <label style="margin-bottom: -20px; padding-top: 1rem;">
            <h4>Documents</h4>
          </label>
        </div>
      </div>
      <app-documents-list [disableItems]="disableItems"></app-documents-list>
    </div>
  </div>
</div>