<div class="card shadow-sm">
    <div class="card-header text-uppercase">
        Reports
    </div>
    <div class="card-body">
        <div class="row" >
            <div class="col-md-6 mb-3">
                <h4 class="font-weight-light">Operations</h4>
                <div class="">
                    <a href="#" class="text-decoration-none" >Generate DMV Report</a>
                </div>
                <div >
                    <a href="#" class="text-decoration-none" >Pending Cancellations</a>
                </div>
                <div >
                    <a href="#" class="text-decoration-none" >Missing Subscription Agreement</a>
                </div>
                <div >
                    <a href="#" class="text-decoration-none" >Policies Excluding From Invoicing</a>
                </div>

            </div>
            <div class="col-md-6 mb-3">
                <h4 class="font-weight-light">Premium</h4>
                <div class="">
                    <a href="#" class="text-decoration-none" >Accounts Receivable</a>
                </div>
                <div >
                    <a href="#" class="text-decoration-none" >Broker Commission</a>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="font-weight-light">Deductible</h4>
                <div class="">
                    <a href="#" class="text-decoration-none" >Deductible Payment Posting</a>
                </div>
                <div >
                    <a href="#" class="text-decoration-none" >Deductible Accounts Receivable</a>
                </div>
            </div>

        </div>
    </div>
</div>