<div class="pt-4">
    <div class="row">

        <div class="col-lg-7 box-shadow">
            <app-dashboard-policy-rater></app-dashboard-policy-rater>
        </div>

        <div class="col-lg-5 box-shadow">
            <app-dashboard-running-rater></app-dashboard-running-rater>
            <app-dashboard-recent-rater *ngIf="allowDump"></app-dashboard-recent-rater>
        </div>

    </div>

</div>