<div class="col-md-12">
    <div class="row mb-2">
        <button class="btn btn-primary pull-right"
            (click)="open(null)" >ADD</button>
    </div>
    <div class="row">
        <table class="table table-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Display Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>

                <div *ngIf="items.length > 0; then itemsTemplate else emptyListTemplate">
                </div>

                <ng-template #itemsTemplate>
                    <tr *ngFor="let item of items">
                        <td>{{item.username}}</td>
                        <td>{{item.displayName}}</td>
                        <td><button class="btn btn-ghost-primary btn-sm" (click)="open(item)">EDIT</button></td>
                    </tr>
                </ng-template>

                <ng-template #emptyListTemplate>
                    <tr>
                        <td colspan="4" class="text-center p-1">
                            <h4>No items to display.</h4>
                        </td>
                    </tr>
                </ng-template>

            </tbody>
        </table>

    </div>
</div>