<div class="page-position">
    <app-policy-edit-button></app-policy-edit-button>
    <app-vehicle-information></app-vehicle-information>
    <app-next-back-btn #actionBar [isScrollPage]="true" (clickType)="onClick($event)" ></app-next-back-btn>
</div>