<div class="form-group row" [formGroup]="group" *ngIf="field.isVisible">
    <label class="col-form-label text-md-right" [ngClass]="field.parentField ? 'offset-md-3 col-md-2 group-body' : 'col-md-4'">
        {{field.label}}
        <span *ngIf="field.required" class="spandata">*</span> :
    </label>

    <div class="col-md-4 btn-group btn-group-toggle">
        <label class="btn btn-outline-primary" [ngClass]="{'active': formControl.value === item.label, 'is-invalid': formControl.touched && formControl.errors }" *ngFor="let item of field.options">
            <input type="radio" [id]="field.name+item.label" [formControlName]="field.name" [value]="item.value"/> {{item.label}}
        </label>
        <app-validation-error [control]="formControl"></app-validation-error>
    </div>
</div>
