<div class="card shadow-sm">
    <div class="card-header text-uppercase">
        Management
    </div>
    <div class="card-body">
        <div>Manage Users</div> 
        <div>Manage Roles</div> 
        <div>Manage Agencies</div> 
    </div>
</div>