<div class="page-position">
    <app-policy-edit-button></app-policy-edit-button>
    <form>
      <app-claims-history-section></app-claims-history-section>
      <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
    </form>
</div>