<div class="card">
    <div class="card-header">DOWNLOAD MATERIALS</div>

    <div class="card-body row">
        <div class="col">
            <div class="text-muted">
                <ul>
                    <li><a href="#!">downloadable_material1.pdf</a></li>
                    <li><a href="#!">downloadable_material2.pdf</a></li>
                    <li><a href="#!">downloadable_material3.pdf</a></li>
                    <li><a href="#!">downloadable_material4.pdf</a></li>
                    <li><a href="#!">downloadable_material5.pdf</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>