.dynamic-table {
    padding: 1rem 0;
  
    .table-wrapper {
      overflow-x: scroll;
    }
  
    .auto-horizontal-scroll {
      overflow-x: auto;
    }
  
    table {
      border: 1px solid #c8ced3;
      margin-bottom: 0;
    }
  
    th {
      background: #f0f3f5;
      border-bottom-width: 1px;
      vertical-align: middle;
      word-break: normal;
  
      &:last-child {
        word-break: break-all;
      }
    }
  
    tr:nth-child(even) {
      background-color: #f7f7f7;
    }
  
    td:last-child {
      width: 60px;
      text-align: center;
  
      i {
        cursor: pointer;
        font-weight: bold;
        margin: 0 5px;
      }

      .icon-note {
        color: #20a8d8;
      }
  
      .icon-trash {
        color: #f86c6b;
      }
    }
  
    td {
      textarea {
        border: 1px solid #e4e7ea;
        background-color: #fff;
        resize: none;
      }
  
      &:nth-child(1){
        word-break: break-word;
      }
  
      &:nth-child(2){
        word-break: normal;
      }
    }
  
    .text-center {
      text-align: center;
    }
  
    .text-end {
      text-align-last: end;
    }

    textarea {
      width: 100%;
      padding: 5px;
      height: 34px;
      resize: none;
    }
  
    .control-buttons {
      text-align: right;
      margin-top: 1rem;
    }
  }
  
  .custom-control {
    padding-left: 1.2rem;
  }

  .no-data-message {
    font-weight: bold;
    margin-top:10px;
  }

  .disable-button {
    cursor: not-allowed !important;
    color: #a9a9a9 !important;
  }

  .description-col {
    white-space: pre-line;
  }

  .col {
    padding-right: 0px;
    padding-left: 0px;
  }



