<div class="page-position">
    <app-policy-changes-section></app-policy-changes-section>
    <app-premium-changes></app-premium-changes>
    <app-next-back-btn [isScrollPage]="true" [isIssuePage]="true"></app-next-back-btn>
</div>