.h-installment-number {
  width: 42px;
}

.h-status {
  width: 80px;
}

.h-type {
  width: 130px;
}

.no-data-message {
  font-weight: bold;
  margin-top:10px;
  width: 100%;
}

.dynamic-table {
  padding: 1rem 0;
  overflow-y: auto;

  .table-wrapper {
    overflow-x: scroll;
  }

  .auto-horizontal-scroll {
    overflow-x: auto;
  }

  table {
    border: 1px solid #c8ced3;
    margin-bottom: 0;
  }

  th {
    background: #f0f3f5;
    border-bottom-width: 1px;
    vertical-align: middle;
    word-break: normal;

    &:last-child {
      word-break: break-all;
    }
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  td:first-child{
    white-space: nowrap;
  }
  
  td:last-child {
    width: 60px;
    text-align: center;
    padding-right: 10px;

    i {
      cursor: pointer;
      font-weight: bold;
      margin: 0 5px;
    }

    .icon-note {
      color: #20a8d8;
    }

    .icon-trash {
      color: #f86c6b;
    }
  }

  td {
    textarea {
      background-color: transparent;
    }

    &:nth-child(1){
      word-break: break-word;
    }

    &:nth-child(2){
      word-break: normal;
    }
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align-last: end;
  }

  textarea {
    width: 100%;
    height: 24px;
  }

  .control-icons {
    button {
      width: inherit;
      height: auto;
      display: inline;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
  }
}

.add-installment-schedule-button {
  width: 100%;
  align-content: right;
}