.icon-note,
.icon-action-undo{
  color: #20a8d8;
  cursor: pointer;
}

#mdlBlacklistedDriver {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  padding: 1.5rem;
}

.search-button {
  background-color: white;
}

table thead th {
  vertical-align: middle;
  width: auto;
}