<div class="container pt-4">
    <div class="card">
        <div class="card-header">
            <strong>PREMIUM RATER POOL</strong>
        </div>
        <div class="card-body p-4">
            <app-premium-rater-pool-list></app-premium-rater-pool-list>
        </div>
    </div>
</div>