<div class="col-md-12 pt-2">

    <div class="row mb-2">
        <div class="form-inline">
            <select (change)="onIntervalChanged($event.target.value)" class="form-control">
                <option *ngFor="let i of intervalList" [value]="i.id">Update every {{i.text}}</option>
            </select>
        </div>
    </div>

    <div class="row">

        <table class="table table-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col">Submission</th>
                    <th scope="col">Option</th>
                    <th scope="col" *ngIf="!runningOnly">Status</th>
                    <th scope="col">Created</th>
                    <th scope="col" *ngIf="!runningOnly">Elapsed</th>
                    <th scope="col" *ngIf="!runningOnly">Resumable At (If suspended)</th>
                    <th scope="col" *ngIf="!runningOnly">Action</th>
                </tr>
            </thead>
            <tbody>
                <div *ngIf="items.length > 0; then itemsTemplate else emptyListTemplate">
                </div>

                <ng-template #itemsTemplate>

                    <tr *ngFor="let item of items">
                        <td>{{item.submissionNumber}}</td>
                        <td>{{item.optionId}}</td>
                        <td *ngIf="!runningOnly">{{item.status}}</td>
                        <td>{{item.createdAt | date: 'h:mm:ss a'}}</td>
                        <td *ngIf="!runningOnly">{{(item.elapsed * 1000) | date: 'mm:ss'}}</td>
                        <td *ngIf="!runningOnly">{{((item.resumableAt < 0 ? 0 : item.resumableAt)  * 1000)| date: 'mm:ss'}}</td>
                        <td *ngIf="!runningOnly">
                            <button class="btn btn-warning" *ngIf="item.isIdle" (click)="unloadIdle(item)">
                                <i class="fa fa-times"></i> Unload Idle
                            </button>
                            <button class="btn btn-sm btn-danger " *ngIf="item.canBeUnloaded && !item.isIdle" (click)="forceUnload(item)" title="Force Unload">
                                <i class="fa fa-times"></i> Force Unload
                            </button>
                        </td>
                    </tr>

                </ng-template>

                <ng-template #emptyListTemplate>
                    <tr>
                        <td colspan="10" class="text-center p-1">
                            <h4>{{emptyText}}</h4>
                        </td>
                    </tr>
                </ng-template>

            </tbody>
        </table>

    </div>
</div>