<div class="card">
    <div class="card-header">Risk Specifics Questions</div>
    <br>
    <app-dynamic-form [fields]="riskSpecificsData.riskSpecificsTemplate.FieldConfigs" (parentOnInit)="onChildInit($event)">
    </app-dynamic-form>
</div>
