<div class="card">
    <div class="card-header">
        <div class="row">

            <div class="col">
                <strong>RECENT POLICY RATERS</strong>
            </div>
            <div class="col-4">
                <a [routerLink]="['/policy-premium-rater']"
                    class="pull-right text-uppercase text-primary text-decoration-none font-weight-bold">
                    VIEW ALL POLICY RATERS
                </a>
            </div>

        </div>
    </div>
    <div class="card-body p-4">
        <app-policy-premium-rater-list
            [forDashboard]="true"
            [recentCount]="10"></app-policy-premium-rater-list>
    </div>

</div>