.custom-table {
    padding: 1rem 0;

    .table-wrapper {
        overflow-x: scroll;
    }

    .auto-horizontal-scroll {
        overflow-x: auto;
    }

    table {
        border: 1px solid #c8ced3;
        margin-bottom: 0;
        // table-layout: fixed;
    }

    th {
        background: #f0f3f5;
        border-bottom-width: 1px;
        vertical-align: middle;
        word-break: normal;
        width: 6%;

        // &:last-child {
        //     word-break: break-all;
        // }
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;
    }
}

.history-table {
    padding: 1rem 0;

    .table-wrapper {
        overflow-x: scroll;
    }

    .auto-horizontal-scroll {
        overflow-x: auto;
    }

    table {
        border: 1px solid #c8ced3;
        margin-bottom: 0;
    }

    th {
        background: #f0f3f5;
        border-bottom-width: 1px;
        vertical-align: middle;
        word-break: normal;

        &:last-child {
            word-break: break-all;
        }
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;
    }
}

th:nth-child(1) {
    width: 70px;
  }
  
.th-backout {
    width: 100px
}

.no-data-message {
    font-weight: bold;
    margin-top:10px;
}


tr.collapse-class {
    background: white !important;
    border-bottom: 2px solid darkgray;
}

p {
    margin: 0;
}

.m-l-62px {
    margin-left: 62px;
}

.toggle-column {
    width: 3% !important;
}