<div class="card">
    <div class="card-header ">
        Search Filter
    </div>
    <div class="card-body">
        <div class="form-group">
            <label>Policy #</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Insured Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Broker</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Inception Date From:</label>
            <input type="date" class="form-control">
        </div>
        <div class="form-group">
            <label>Inception Date To:</label>
            <input type="date" class="form-control">
        </div>
        <div class="form-group">
            <label>Status</label>
            <select class="form-control"></select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" >Search</button>
        </div>
    </div>

</div>