textarea {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #999999;
    border-radius: 0;
    padding: 0;
    width: 100%;
    background-image: none !important;
    height: unset;
    resize: none;
}

.btnUpload {
    max-height: 30px;
    min-height: 30px;
    border-radius: revert;
  }