div.form-field__control {
  overflow: unset !important;
  position: unset !important;
}

.form-field__input {
  margin-top: 0px;
  height: calc(1.5em + 0.75rem + 2px);
  width: 97%;
  margin-left: 0%;
}

.form-field__textarea {
  margin-top: 0px;
  min-height: 70px;
  width: 97%;
  margin-left: 0%;
}

.form-control{
  width: 97%;
}

:host ::ng-deep .drop-up .multiselect-dropdown .dropdown-list {    
  bottom: 100%;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn {     
  padding: 6px 34px 6px 12px !important;      
}