 <div class="page-position">
  <form [formGroup]="this.Data.formInfo" id="frmBrokerInfo">
    <app-general-information ></app-general-information>
    <app-policy-contacts></app-policy-contacts>
    <app-policy-contacts-section></app-policy-contacts-section>
    <app-next-back-button [disableCalculate]="Data.formInfo.invalid" [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-button>
   </form>
</div>
