<div class="page-position">
    <app-policy-edit-button></app-policy-edit-button>
    <app-name-and-address-section></app-name-and-address-section>
    <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
</div>

