<div class="page-position">
    <div class="card sticky-body">
        <div class="card-header">
            <i class="icons header-icon" [ngClass]="hideMe ? 'icon-arrow-down': 'icon-arrow-up'" data-toggle="collapse"
                href="#notesCard" (click)="ToggleHiding()"></i>
            <strong>Tasks</strong>
        </div>
        <div id="notesCard" class="show">
            <div class="card-body standard-padding collapse show" id="policyDocuments" style="padding-top: 1.5%">
              <div class="col">
                <div class="row pb-2">
                  <div class="col-9">
                    <label style="margin-bottom: -20px; padding-top: 1rem;">
                      <h4>Tasks</h4>
                    </label>
                  </div>
                </div>
                <!-- <app-documents-list [disableItems]="disableItems"></app-documents-list> -->
              </div>
            </div>
        </div>
    </div>
    <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)" [showNext]="false"></app-next-back-btn>
  </div>