<div class="card">
    <div class="card-header text-uppercase" id="news-notification">News & Information</div>

    <div class="card-body row">
        <div class="col-md-8 col-8 d-flex justify-content-center">
            <div class="news-notif-content d-flex align-items-center text-uppercase text-muted small">
                <a href="#!">Producer Notification Pending</a>
            </div>
        </div>
        <div class="news-notif-content-value col-md-4 col-4">
            <div class="text-value-xl"><a href="#!" class="notification-pending">3</a></div>
        </div>
    </div>
</div>