<div class="modal-header sticky-modal-header">
    <h5 class="modal-title">Form Details</h5>
    <button type="button" class="close" aria-label="Close" (click)="this.onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body row">
    <div class="container-fluid field" [formGroup]="formsData.lossPayeeForm">
        <div class="col-md-12 field form-group">
            <div class="">
                <label class="required">Designation / Description of Autos</label>
                <input type="text" class="form-control w-100" formControlName="descriptionOfAutos" maxlength="100"/>
                <app-validation-error [control]="f.descriptionOfAutos" inputName="Designation / Description of Autos"></app-validation-error>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer sticky-modal-footer">
    <button [disabled]="formsData.lossPayeeForm.invalid" type="button" class="btn btn-primary"
        (click)="saveForm()">Save</button>
    <button type="button" class="btn btn-danger" (click)="this.onCancel()">Cancel</button>
</div>