<app-header
[navbarBrandRouterLink]="['/submissions/list']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 140, height: 35, alt: 'Rivinton Partners Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'Rivinton Partners Logo'}"
  [asideMenuToggler]="false"
  [sidebarToggler]="false" class="app-header"
  [mobileSidebarToggler]="leftSidebarAvailable">

  <!-- [mobileSidebarToggler]="layoutService.submissionSidebarVisible" -->

  <ul class="nav navbar-nav ml-auto">
    <li class="navbar-action-links dashboard-font dropdown dropdown-toggle text-light" data-toggle="dropdown" id="toolsDropdown" aria-controls="toolsMenu">Tools
      <div class="dropdown-menu dashboard-dropdown" aria-labelledby="toolsDropdown" id="toolsMenu">
        <a href="#!" class="dropdown-item dashboard-font dashboard-dropdown-item" (click)="onToolClick($event)">Driver Verification</a>
      </div>
    </li>

    <li class="btn-group">
      <span class="navbar-action-links dashboard-font text-light dropdown dropdown-toggle" data-toggle="dropdown" id="reportsDropdown" aria-controls="reportsMenu">Reports</span>
      <ul class="dropdown-menu dashboard-dropdown" aria-labelledby="reportsDropdown" id="reportsMenu">
        
        <li class="dropdown-item dashboard-font dashboard-dropdown-item dropdown-submenu dropdown-toggle">Operations
          <ul class="dropdown-menu" [style.margin-top.px]="0">
            <li>
              <div class="dashboard-dropdown">
                <a href="#!" class="dropdown-item dashboard-font dashboard-dropdown-item" (click)="onToolClick($event)">Generate DMV Report</a>
              </div>
            </li>
            <!--<li style="border-top: 0.5px solid #c8ced3">
              <div class="dashboard-dropdown">
                <a href="#!" class="dropdown-item dashboard-font dashboard-dropdown-item" (click)="onToolClick($event.target.innerText)">Pending Cancellations</a>
              </div>
            </li>-->
          </ul>
        </li> 
        
        <li class="dropdown-item dashboard-font dashboard-dropdown-item dropdown-submenu dropdown-toggle">Premium
          <ul class="dropdown-menu" [style.margin-top.px]="0">
            <li>
              <div class="dashboard-dropdown">
                <a href="#!" class="dropdown-item dashboard-font dashboard-dropdown-item" (click)="onToolClick($event)">Accounts Receivable</a>
              </div>
            </li>
            <!-- <li style="border-top: 0.5px solid #c8ced3">
              <div class="dashboard-dropdown">
                <a href="#!" class="dropdown-item dashboard-font dashboard-dropdown-item" (click)="onToolClick($event.target.innerText)">Pre-Bind Payments</a>
              </div>
            </li> -->
          </ul>
        </li>
      </ul>
    </li>

    <!-- <li class="navbar-action-links dashboard-font dropdown dropdown-toggle text-light" data-toggle="dropdown">Reports
      <ul class="dropdown-menu">
        <li class="dropdown-submenu">Premium
          <ul class="dropdown-menu">
            <li>
              <a href="#!" class="dropdown-item dashboard-font dashboard-dropdown-item" (click)="onToolClick($event.target.innerText)">Accounts Receivable</a>
            </li>
          </ul>
        </li>
      </ul>
    </li> -->

    <li class="navbar-action-links dashboard-font">
      <a class="text-light text-decoration-none" [routerLink]="['/dashboard']" >
        Dashboard
      </a>
    </li>
    <li class="navbar-action-links dashboard-font">
      <a class="text-light text-decoration-none" [routerLink]="'/management/agency'" >
        Management
      </a>
    </li>
    <li class="navbar-action-links dashboard-font">
      <a class="text-light text-decoration-none" href="javascript:void(0);" (click)="logout()" >
        Logout
      </a>
    </li>

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <!-- <a class="nav-link profile-pic" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle >
        <img src="assets/img/avatars/user-icon.png" class="img-avatar bg-light" alt="user-icon" [attr.title]="this.currentUserType"/>
      </a> -->

      <button class="nav-link profile-pic" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="assets/img/avatars/user-icon.png" class="img-avatar" style="background-color: white" alt="user-icon" title="{{ currentUserType }}" />
      </button>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
        <div class="dropdown-header text-center"><strong>{{uname}}</strong></div>

        <button class="dropdown-item" [routerLink]="'/account/change-password'"><i class="fa fa-user"></i> Change Password</button>
        <!-- for the mean time external only -->
        <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-user-circle-o"></i> External</a>
        <a class="dropdown-item" href="javascript:void(0);" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </li>

  </ul>
</app-header>
