.app-header {
  background-color: #0f2b5b !important;
}

.app-header .navbar-brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 240px !important;
  height: 54px;
  padding: 0;
  margin-right: 0;
  background-color: transparent;
  background: white;
}

.navbar-action-links {
  display: inline;
  margin: 16px;
  cursor: pointer;
  color: #f0f3f5 !important;
}

.text-light {
  color: #f0f3f5 !important;
}

a.text-light:hover, a.text-light:focus {
  color: #c2ced6 !important;
}

.navbar-nav .nav-link.profile-pic:focus {
  outline-color: transparent;
}

.reference-list {
  color: #fff;
}

.reference-list:hover {
  color: #fff;
  text-decoration: underline;
}

.dashboard-pagination {
  position: relative;
  max-height: 0px;
}

.reference-list-margin-top {
  margin-top: -2px !important;
}

.payments-dropdown {
  button {
    background-color: #0f2b5b;
    color: #fff;
    border: 0;

    &:focus {
      outline: none;
    }
  }
}

.dashboard-dropdown {
  border: 0 !important;
  padding: 0 !important;
  background-image: none !important;
  background-color: #0f2b5b;
  color: white;
  border-radius: 0 !important;

  .dashboard-dropdown-item {
    color: #fff;
    width: auto !important;
    border:none;

    &:hover {
      background-color: #0f2b5b;
      color: #ccc;
    }
  }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  .navbar-action-links {
    display: none;
  }

}

/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .navbar-action-links {
    display: none;
  }
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 991px) {
  .navbar-action-links {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
}

@media (max-width: 990.98px)
{
  .app-header .navbar-brand {
      position: absolute;
      top: 0;
      margin-left: -120px;
  }
}

.dropdown-submenu {
  position: relative;
  background-color: #0f2b5b;
  color: white;

  &:hover {
    background-color: #0f2b5b;
    color: #ccc;
  }

  &:after {
    transform: rotate(270deg);
    float: right;
    margin-top: 10px;
  }
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border: none;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
    padding-left: 0.5px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#reportsMenu {
  top: 38px;
  left: 15px;
}