<div class="modal-header sticky-modal-header">
    <h5 class="modal-title">Form Details</h5>
    <button type="button" class="close" aria-label="Close" (click)="this.onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body row">
    <div class="container-fluid field" [formGroup]="formsData.exclusionRadiusForm">
        <div class="col-md-12 field form-group">
            <div class="">
                <label class="required">Radius</label>
                <input type="text" class="form-control w-100" formControlName="radius" mask="separator.2" thousandSeparator="," separatorLimit="99999"/>
                <app-validation-error [control]="f.radius" inputName="Radius"></app-validation-error>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer sticky-modal-footer">
    <button [disabled]="formsData.exclusionRadiusForm.invalid" type="button" class="btn btn-primary"
        (click)="saveForm()">Save</button>
    <button type="button" class="btn btn-danger" (click)="this.onCancel()">Cancel</button>
</div>