<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! You're lost.</h4>
          <p class="text-muted">The page you are looking for was not found.</p>
          <!-- <button class="btn btn-info">Go to Home Page</button> -->

          <a class="btn btn-info" routerLink="/dashboard">Go to Home Page</a>

          <button class="btn btn-secondary" (click)="back()">Back to Previous Page</button>
        </div>
      </div>
    </div>
  </div>
</div>
