.sticky-modal-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f0f3f5;
}

.sticky-modal-footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.align-right {
  justify-content: flex-end;
  display: flex;
}