<div class="page-position">
    <app-filings-information-section #filingsInfo></app-filings-information-section>
    <app-next-back-button [isScrollPage]="true" [hideQuote]="true" (clickType)="onClick($event)"></app-next-back-button>
</div>

