<div class="card sticky-body">
  <div class="card-header cursor-pointer" (click)="this.toggleCollapse.clickExpandCollapse('quotecondition', $event)">
    <app-toggle-collapse toggleName="quotecondition"></app-toggle-collapse>
        <strong> &nbsp; Quote Conditions</strong>
    </div>
    <div class="card-body standard-padding collapse show" id="quotecondition" style="padding-top: 1.5%">
      <div class="col">
        <div class="row pb-2">
          <div class="col-9">
            <label style="margin-bottom: -20px; padding-top: 1rem;">
            <h4>Quote Conditions</h4></label>
          </div>
        </div>
        <div class="table-responsive dynamic-table" [style.padding-top.px]="0" [style.padding-botton.px]="0">
          <table id='tblQuoteCondition'[dtOptions]="this.dtOptions" [dtTrigger]="this.dtTrigger" datatable #tblQuoteCondition class="table mb-2">
            <thead>
            <tr>
                <th (click)="Data.sortQuoteConditions($event.target)" data-order="desc" id="quoteConditionsOption" data-name="quoteConditionsOption" style="width: 45%;" class="text-left">Condition</th>
                <th (click)="Data.sortQuoteConditions($event.target)" data-order="desc" data-name="comments" style="width: 45%;" class="text-left">Comments</th>
                <th *ngIf="isAttachmentExist" style="width: 10%; padding:5px;" class="text-center">Action<br/>
                  <!-- <button tabindex="" type="button" class="btn btn-primary mx-2" data-placement="top" [disabled]="this.submissionData?.isIssued" (click)='this.openAddItemModal()' [tooltip]="TableConstants.add">
                    <i class="icon-plus"></i>
                  </button> -->
                </th>
            </tr>
            </thead>
            <tbody>
              <!-- <ng-container *ngFor="let driver of this.Data.driverInfoList | driverFilter: this.Data.filterValue" [ngTemplateOutlet]="driverRow" [ngTemplateOutletContext]="{driverObj : driver}"></ng-container> -->
              <ng-container *ngFor="let obj of this.Data.conditionsPagedItems" [ngTemplateOutlet]="tableRow" [ngTemplateOutletContext]="{Obj : obj}"></ng-container>
            </tbody>
          </table>
          <div *ngIf="this.Data.quoteConditionsList?.length < 1">
            <div class="text-center col-lg-12 no-data-message">
                <span>No Data To Display</span>
            </div>
          </div>
        </div>
      </div>
      <app-table-pagination (setPage)="this.Data.setConditionsPage($event, this.Data.quoteConditionsList)" [pager]="this.Data.conditionsPager" [loading]="this.Data.loading"></app-table-pagination>
  </div>
</div>

<ng-template #tableRow let-Obj="Obj" >
  <tr>
      <td sty class="verticalMiddle text-left"><span class="mtext-left">{{ Obj.quoteConditionsOptionId|selectItemIdToLabel:this.Data.dropdownList.quoteConditionList }}</span></td>

      <td class="verticalMiddle text-left description-col"><span class="mtext-left">{{ Obj.comments }}</span></td>
      <td *ngIf="isAttachmentExist" class="verticalMiddle">
        <div class="table-button-fixed d-flex justify-content-center">
          <i *ngIf="Obj.filePath != null" class="icon-doc" (click)="this.viewDocument(Obj)" [tooltip]="TableConstants.view"></i>
          <i *ngIf="!this.submissionData?.isIssued" [className]="(this.CanEditOrDeleteQuoteCondition(Obj)) ? 'icon-note' : 'icon-note disable-button'" (click)="this.openEditItemModal(Obj)" [tooltip]="TableConstants.edit"></i>
          <i *ngIf="!this.submissionData?.isIssued" [className]="(this.CanEditOrDeleteQuoteCondition(Obj)) ? 'icon-trash' : 'icon-trash disable-button'" (click)="this.deleteQuoteCondition(Obj)" [tooltip]="TableConstants.delete"></i>
        </div>
      </td>
  </tr>
  </ng-template>
