.note {
  margin-top: 0.25rem;
  font-size: 80%;
  text-align: center;
}

.modal-footer {
  align-self: center;
}

.note-2 {
  text-align: center;
}

.invalid-feedback {
  text-align: center;
  padding-bottom: 10px;
}

.success-feedback {
  text-align: center;
  padding-bottom: 10px;
}