<div class="modal-content">
    <div class="modal-header sticky-modal-header">
      <h5 class="modal-title" id="addTask">{{ title }}</h5>
      <button type="button" class="close" (click)="cancel()" aria-label="Close">
        <span aria-hidden="true">&minus;</span>
      </button>
    </div>
    <div class="modal-body">
        <label class="note">{{ description1 }}</label>
      <div >
        <div class="form-group field">
            <label for="" class="note mb-3">{{ description2 }}</label>
            <code-input [isCodeHidden]="false"
              [codeLength]="6"
              (codeChanged)="onCodeChanged($event)"
              (codeCompleted)="onCodeCompleted($event)">
            </code-input>
            <div class="note-2">
                <label class="note">{{ ReferenceCodeConstants.referenceNumber }} {{ referenceNumber }}</label>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer sticky-modal-footer">
      <button class="btn btn-primary" (click)="onContinue()">
        {{ ReferenceCodeConstants.continue }}
      </button>
      <button class="btn btn-primary" (click)="onResendCode()" *ngIf="!isResendCodeClicked">
        {{ ReferenceCodeConstants.resendCode }}
      </button>
      <button class="btn btn-secondary" disabled *ngIf="isResendCodeClicked" >
        {{ ReferenceCodeConstants.resendCode }} ({{ counter }})
      </button>
    </div>
    <span class="invalid-feedback" *ngIf="!isValid">
      {{ errorMessage }}
    </span>
    <span class="success-feedback" *ngIf="isResendCodeClicked && isValid">
      {{ successMessage }}
    </span>
</div>
