<div class="form" [formGroup]="filterFrm">
    <div class="form-group">
        <label class="col-form-label">Date: </label>
        <input type="date" class="form-control" formControlName="date">
    </div>

    <div class="form-group">
        <label class="col-form-label">Time (From): </label>
        <input type="time" class="form-control" formControlName="timeFrom" (change)="onTimeFromChange()">
    </div>

    <div class="form-group">
        <label class="col-form-label">Time (To): </label>
        <input type="time" class="form-control" formControlName="timeTo" (change)="onTimeToChange()">
    </div>

    <div class="form-group">
        <label class="col-form-label mr-2">Submission: </label>
        <input type="text" class="form-control mr-2" formControlName="submission">
    </div>

    <div class="form-group">

        <label class="col-form-label mr-2">Option: </label>
        <input type="text" class="form-control mr-2" formControlName="option">

    </div>
    <div class="form-group">
        <button class="btn btn-primary pull-right" (click)="filter()">Filter</button>
    </div>
</div>