<div class="card">
    <div class="card-header">
        <div class="row">

            <div class="col">
                <strong>RECENTLY USED RATERS</strong>
            </div>
            <div class="col-4">
                <a [routerLink]="['/premium-rater-dump']"
                    class="pull-right text-uppercase text-primary text-decoration-none font-weight-bold">
                    VIEW ALL USED RATERS
                </a>
            </div>

        </div>
    </div>
    <div class="card-body p-4">
        <app-premium-rater-dump-list
            [forDashboard]="true"
            [recentCount]="10"></app-premium-rater-dump-list>
    </div>

</div>