<div class="card sticky-body">
  <div class="card-header">
    <i class="icons header-icon" [ngClass]="hideMe ? 'icon-arrow-down': 'icon-arrow-up'" data-toggle="collapse"
      href="#addtlInterestCard" (click)="ToggleHiding()"></i>
    <strong>Additional Interest</strong>
  </div>
  <div id="addtlInterestCard" class="show mt-3">
    <div [className]="(!this.isShownInSummary) ? 'card-body' : 'card-body summary-page'">
      <div class="col">
        <div>
          <h4>Additional Interest</h4>
        </div>
        <div class="table-responsive dynamic-table" [style.padding-top.px]="0" [style.padding-bottom.px]="0">
          <table class="table mb-2" style="width:100%;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" #tbVehicle>
            <thead>
              <tr>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="entityType">{{ LabelMessage.entityType }}</th>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="name">{{ LabelMessage.name }}</th>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="address">{{ LabelMessage.address }}</th>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="effectiveDate">{{ LabelMessage.effectiveDate }}</th>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="expirationDate">{{ LabelMessage.expirationDate }}</th>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="isWaiverOfSubrogation" class="text-center">{{ LabelMessage.waiverOfSub }}</th>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="isPrimaryNonContributory" class="text-center">{{ LabelMessage.primaryNonCont }}</th>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="isAutoLiability" class="text-center">{{ LabelMessage.autoLiability }}</th>
                <th (click)="applicantData.sortAdditionalInterests($event.target)" data-order="desc" data-name="isGeneralLiability" class="text-center">{{ (!this.isShownInSummary) ? LabelMessage.generalLiability : 'General\nLiability' }}</th>
                <th style="text-align: center;padding:5px;" *ngIf="!this.isShownInSummary">Actions<br />
                  <button type="button" class="btn btn-primary mx-2" [disabled]="!this.policySummaryData.canEditPolicy && !this.isShownInSummary" data-placement="top" (click)='addAdditionalInterest()' [tooltip]="TableConstants.add">
                    <i class="icon-plus"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let interest of this.applicantData.pagedItems" [ngTemplateOutlet]="interestRow"
                [ngTemplateOutletContext]="{interest : interest, index: i}"></ng-container>
            </tbody>
          </table>
          <div *ngIf="interests.length < 1">
            <div class="text-center col-lg-12 no-data-message">
                <span>No Data To Display</span>
            </div>
          </div>
        </div>
      </div>
      <app-table-pagination (setPage)="this.applicantData.setPage($event, this.applicantData.additionalInterests)" [pager]="this.applicantData.pager" [loading]="this.applicantData.loading"></app-table-pagination>

      <div class="row" style="margin-top: 30px;">
        <div class="col mx-3">
          <h4>Blanket Coverage (Increased Cost)</h4>
        </div>
      </div>
      <div class="disable-overlay" *ngIf="!this.policySummaryData.canEditPolicy"></div>
      <div class="clearfix"></div>
      <div class="row" [formGroup]="blanketCoverageForm">
        <!-- <div class="col-md-12 my-4 ml-4" *ngIf="this.policySummaryData.canEditPolicy && !this.isShownInSummary">
          <label class="checkbox-inline"><input type="checkbox" formControlName="isAdditionalInsured"
              (change)="setBlanketCoverage('isAdditionalInsured', $event.target.checked)">Additional Insured</label>
          <label class="checkbox-inline"><input type="checkbox" formControlName="isWaiverOfSubrogation"
              (change)="setBlanketCoverage('isWaiverOfSubrogation', $event.target.checked)">Waiver of Subrogation</label>
          <label class="checkbox-inline"><input type="checkbox" formControlName="isPrimaryNonContributory"
              (change)="setBlanketCoverage('isPrimaryNonContributory', $event.target.checked)">Primary Non-contributory</label>
        </div> -->
        <div class="col-md-12 my-4 ml-4" > <!-- *ngIf="!this.policySummaryData.canEditPolicy || this.isShownInSummary" -->
          <label class="checkbox-inline"><input type="checkbox" [disabled]="true" [checked]="blanketCoverage?.isAdditionalInsured">Additional Insured</label>
          <label class="checkbox-inline"><input type="checkbox" [disabled]="true" [checked]="blanketCoverage?.isWaiverOfSubrogation">Waiver of Subrogation</label>
          <label class="checkbox-inline"><input type="checkbox" [disabled]="true" [checked]="blanketCoverage?.isPrimaryNonContributory">Primary Non-contributory</label>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #interestRow let-interest="interest">
  <tr>
    <td><span >{{ interest.entityType }}</span></td>
    <td><span >{{ interest.name }}</span></td>
    <td><span >{{ interest.address }}, {{ interest.city }}, {{ interest.state }}, {{ interest.zipCode }}</span></td>
    <td><span >{{ interest.effectiveDate | date : 'MM/dd/yyyy' }}</span></td>
    <td><span >{{ interest.expirationDate | date : 'MM/dd/yyyy' }}</span></td>
    <td>
      <div class="text-center">
        <input type="checkbox" id="isWaiverOfSubrogation" [checked]="interest.isWaiverOfSubrogation" 
        [disabled]="blanketCoverage?.isWaiverOfSubrogation || (!this.policySummaryData.canEditPolicy || this.isShownInSummary) || interest.fromPreviousEndorsement"
        (change)="interestChanged(interest, $event.target.checked, 'isWaiverOfSubrogation')" />
      </div>
    </td>
    <td>
      <div class="text-center">
        <input type="checkbox" id="isPrimaryNonContributory" [checked]="interest.isPrimaryNonContributory" 
        [disabled]="blanketCoverage?.isPrimaryNonContributory || (!this.policySummaryData.canEditPolicy || this.isShownInSummary) || interest.fromPreviousEndorsement"
        (change)="interestChanged(interest, $event.target.checked, 'isPrimaryNonContributory')" />
      </div>
    </td>
    <td>
      <div class="text-center">
        <input type="checkbox" id="isAutoLiability" [checked]="interest.isAutoLiability" 
        [disabled]="(!this.policySummaryData.canEditPolicy || this.isShownInSummary) || interest.fromPreviousEndorsement"
        (change)="interestChanged(interest, $event.target.checked, 'isAutoLiability')" />
      </div>
    </td>
    <td>
      <div class="text-center">
        <input type="checkbox" id="isGeneralLiability" [checked]="interest.isGeneralLiability" 
        [disabled]="(!this.policySummaryData.canEditPolicy || this.isShownInSummary) || interest.fromPreviousEndorsement"
        (change)="interestChanged(interest, $event.target.checked, 'isGeneralLiability')" />
      </div>
    </td>
    <td *ngIf="!this.isShownInSummary">
      <div *ngIf='interest.isActive' class="table-button-fixed d-flex justify-content-end">
        <i [className]="(!policySummaryData.canEditPolicy) ? 'icon-note disable-button' : 'icon-note'" (click)="editAdditionalInterest(interest)" [tooltip]="TableConstants.edit"></i>
        <i [className]="(!policySummaryData.canEditPolicy) ? 'icon-trash disable-button' : 'icon-trash'" (click)="deleteAdditionalInterest(interest)" [tooltip]="TableConstants.delete"></i>
      </div>
    </td>
  </tr>
</ng-template>