.card.field {
  margin-top: 1rem;
}

.buttons-class {
  background:white;
  margin-bottom: 10px;
  border: 1px solid #c8ced3;
  border-radius: 0.25rem;
}

.buttons-row {
  place-content: flex-end;
}

.margin-top {
  margin-top: 81px;
}
