<app-footer class="px-3 py-3">
    <span><a href="#!">BoxTruck Application</a> &copy; 2020</span>
    <span class="ml-auto">Powered by <a href="#!">Rivtech</a> {{currentAppVersion}}</span>
</app-footer>