
// .required::after {
//   content: ' *';
//   color: red;
//   }

// fix issue when showing error message, element move partially to left
.form-field__input,
.form-field__textarea,
.form-field__label {
  margin-left: 0px;
  width: 100%;
  padding: 0 0 0 0;
  margin-top: 5px;
}

.switch {
  height: 0px;
}

input:disabled, input[readonly], select:disabled {
  background-color: #e4e7ea;
  opacity: 1;
}

.modal-header .close {
  display:none;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto !important;
}

textarea#koReason {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #999999;
  border-radius: 0;
  padding: 0;
  width: 100%;
  background-image: none !important;
  height: unset;
  resize: none;
}

#mdlBodyDriverDetails {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

.dynamic-table {
  padding: 1rem 0;

  .table-wrapper {
    overflow-x: scroll;
  }

  .auto-horizontal-scroll {
    overflow-x: auto;
  }

  table {
    border: 1px solid #c8ced3;
    margin-bottom: 0;
  }

  th {
    background: #f0f3f5;
    border-bottom-width: 1px;
    vertical-align: middle;
    word-break: normal;

    &:last-child {
      word-break: break-all;
    }
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  td:last-child {
    width: 60px;
    text-align: center;

    i {
      cursor: pointer;
      font-weight: bold;
      margin: 0 5px;
    }

    .icon-note {
      color: #20a8d8;
    }

    .icon-trash {
      color: #f86c6b;
    }
  }

  td {
    textarea {
      background-color: transparent;
    }

    &:nth-child(1){
      word-break: break-word;
    }

    &:nth-child(2){
      word-break: normal;
    }
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align-last: end;
  }

  textarea {
    width: 100%;
    height: 24px;
  }

  .control-buttons {
    text-align: right;
    margin-top: 1rem;
  }
}

