<div class="modal-header">
    <h5 class="modal-title" *ngIf="!hasModel">Add User</h5>
    <h5 class="modal-title"*ngIf="hasModel">Edit User</h5>
    <button type="button" class="close" (click)="activeModal.close('Close click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-user-form #userForm [userData]="userData"></app-user-form>
</div>
<div class="modal-footer">
    <button type="button" *ngIf="hasModel" class="btn btn-danger pull-left" (click)="deleteUser(userData)">Delete user</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save user</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>