<div role="document">
    <div class="modal-content">
        <div class="modal-header sticky-modal-header">
            <h5 class="modal-title">Driver from Excel file</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="show">
            <div class="card-body">
                <div class="table-responsive dynamic-table">
                    <table class="table" style="width:100%" #tbVehicle>
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>DL Number</th>
                                <th>License State</th>
                                <th>DOB</th>
                                <th>Years Commercial Driving Experience</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let driverObj of excelDrivers; let i = index">
                                <td><span>{{ driverObj.firstName }}</span></td>
                                <td><span>{{ driverObj.middleName }}</span></td>
                                <td><span>{{ driverObj.lastName }}</span></td>
                                <td><span>{{ driverObj.licenseNumber }}</span></td>
                                <td><span>{{ driverObj.stateFull }}</span></td>
                                <td><span>{{ driverObj.birthDate  | date: 'MM/dd/yyyy'}}</span></td>
                                <td><span>{{ driverObj.yrsCommDrivingExp }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-footer sticky-modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" (click)='onSubmit()'>Add Drivers</button>
            <button class="btn btn-danger" data-dismiss="modal" #btnCloseModal>Cancel</button>
        </div>

    </div>
</div>
