<div class="table-responsive dynamic-table" *ngIf="isPolicyCategory">
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <!-- <th style="width: 7%"><input type="checkbox" class="checkbox" [(ngModel)]="allChecked" [disabled]="this.documentData.disableActionButton"
                        (change)="toggleAllCheck()"></th> -->
                <th (click)="sort($event.target)" data-order="desc" data-name="category">Category</th>
                <th (click)="sort($event.target)" data-order="desc" data-name="description">Description</th>                
                <th (click)="sort($event.target)" data-order="desc" data-name="createdDate">Date Added</th>
                <th class="text-center" style="padding:5px;">Actions<br />
                    <button tabindex="" type="button" [disabled]="this.documentData.disableActionButton" (click)="onEditItem()" class="btn btn-primary mx-2"
                        data-placement="top" [tooltip]="TableConstants.add">
                        <i class="icon-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of documentData.pagedItems">
                <!-- <td><input type="checkbox" class="checkbox" [(ngModel)]="doc.checked" [disabled]="this.documentData.disableActionButton"></td> -->
                <td>{{doc.category}}</td>
                <td class="description-col">{{doc.description}}</td>
                <td>
                    {{ doc.createdDate | date : 'MM/dd/yyyy' }}
                </td>
                <td>
                    <div class="table-button-fixed d-flex justify-content-end mr-2 control-icons">
                        <button type="button" [tooltip]="TableConstants.view"
                            (click)="viewDocument(doc)" >
                            <i class="icon-doc"></i>
                        </button>
                        <button type="button" [tooltip]="TableConstants.edit"
                            [disabled]="(disableItems.updateIcon && doc.isSystemGenerated == true) || this.documentData.disableActionButton"
                            (click)="onEditItem(doc)" >
                            <i class="icon-note"
                                [style.cursor]="disableItems.updateIcon && doc.isSystemGenerated == true ? 'not-allowed' : 'pointer'"
                                [style.color]="disableItems.updateIcon && doc.isSystemGenerated == true ? '#a9a9a9' : '#20a8d8'"
                                readonly></i>
                        </button>
                        <button type="button" [tooltip]="TableConstants.delete"
                            [disabled]="(disableItems.deleteIcon && doc.isSystemGenerated == true) || this.documentData.disableActionButton"
                            (click)="onDeleteItem(doc)" >
                            <i class="icon-trash"
                                [style.cursor]="disableItems.deleteIcon && doc.isSystemGenerated == true ? 'not-allowed' : 'pointer'"
                                [style.color]="disableItems.deleteIcon && doc.isSystemGenerated == true ? '#a9a9a9' : '#f86c6b'"
                                readonly></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="this.documentData.pagedItems?.length === 0">
        <div class="text-center col-lg-12 no-data-message">
            <span>No Data To Display</span>
        </div>
    </div>
    <div style="padding-top: 10px;">
        <app-table-pagination (setPage)="this.documentData.setPage($event, this.documentData.documentsListData)" [pager]="this.documentData.pager" [loading]="this.documentData.loading"></app-table-pagination>
    </div>
</div>

<div class="table-responsive dynamic-table" *ngIf="isBillingCategory">
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <!-- <th style="width: 7%"><input type="checkbox" class="checkbox" [(ngModel)]="allChecked" [disabled]="this.documentData.disableActionButton"
                        (change)="toggleAllCheck()"></th> -->
                <th (click)="sort($event.target)" data-order="desc" data-name="category">Category</th>
                <th [style.width.px]="500" (click)="sort($event.target)" data-order="desc" data-name="description">Description</th>                
                <th [style.width.px]="271.5" (click)="sort($event.target)" data-order="desc" data-name="createdDate">Date Added</th>
                <th class="text-center" style="padding:5px;">Actions<br />
                    <button tabindex="" type="button" [disabled]="this.documentData.disableActionButton" (click)="onEditItem()" class="btn btn-primary mx-2"
                        data-placement="top" [tooltip]="TableConstants.add">
                        <i class="icon-plus"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of documentData.pagedItemsBillingDocs">
                <!-- <td><input type="checkbox" class="checkbox" [(ngModel)]="doc.checked" [disabled]="this.documentData.disableActionButton"></td> -->
                <td>{{doc.category}}</td>
                <td class="description-col">{{doc.description}}</td>
                <td>
                    {{ doc.createdDate | date : 'MM/dd/yyyy' }}
                </td>
                <td>
                    <div class="table-button-fixed d-flex justify-content-end mr-2 control-icons">
                        <button type="button" [tooltip]="TableConstants.view"
                            (click)="viewDocument(doc)" >
                            <i class="icon-doc"></i>
                        </button>
                        <button type="button" [tooltip]="TableConstants.edit"
                            [disabled]="(disableItems.updateIcon && doc.isSystemGenerated == true) || this.documentData.disableActionButton"
                            (click)="onEditItem(doc)" >
                            <i class="icon-note"
                                [style.cursor]="disableItems.updateIcon && doc.isSystemGenerated == true ? 'not-allowed' : 'pointer'"
                                [style.color]="disableItems.updateIcon && doc.isSystemGenerated == true ? '#a9a9a9' : '#20a8d8'"
                                readonly></i>
                        </button>
                        <button type="button" [tooltip]="TableConstants.delete"
                            [disabled]="(disableItems.deleteIcon && doc.isSystemGenerated == true) || this.documentData.disableActionButton"
                            (click)="onDeleteItem(doc)" >
                            <i class="icon-trash"
                                [style.cursor]="disableItems.deleteIcon && doc.isSystemGenerated == true ? 'not-allowed' : 'pointer'"
                                [style.color]="disableItems.deleteIcon && doc.isSystemGenerated == true ? '#a9a9a9' : '#f86c6b'"
                                readonly></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="this.documentData.pagedItemsBillingDocs?.length === 0">
        <div class="text-center col-lg-12 no-data-message">
            <span>No Data To Display</span>
        </div>
    </div>
    <div style="padding-top: 10px;">
        <app-table-pagination (setPage)="this.documentData.setPageBillingDocuments($event, this.documentData.billingDocumentsListData)" [pager]="this.documentData.pagerBillingDocs" [loading]="this.documentData.loadingBillingDocs"></app-table-pagination>
    </div>
</div>
<!-- Hide, no functionality yet -->
<!-- <div class="row documents-row">
    <div class="col-lg-3">
      <button class="btn btn-primary btn-block">Download</button>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-primary btn-block">Email Documents</button>
    </div>
  </div> -->