th {
    cursor: pointer;
}

.center-align {
    text-align: center;
}

.text-center {
  text-align: center;
}
  
.no-data-message {
  font-weight: bold;
  margin-top:10px;
  width: 100%;
}

.dynamic-table {
  padding: 1rem 0;

  .table-wrapper {
    overflow-x: scroll;
  }

  .auto-horizontal-scroll {
    overflow-x: auto;
  }

  table {
    border: 1px solid #c8ced3;
    margin-bottom: 0;
  }

  th {
    background: #f0f3f5;
    border-bottom-width: 1px;
    vertical-align: middle;
    word-break: normal;

    &:last-child {
      word-break: break-all;
    }
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  td {
    textarea {
      background-color: transparent;
    }

    &:nth-child(1){
      word-break: break-word;
    }

    &:nth-child(2){
      word-break: normal;
    }
  }

  .text-center {
    text-align: center;
  }

  .text-end {
    text-align-last: end;
  }

  textarea {
    width: 100%;
    height: 24px;
  }

  .control-buttons {
    text-align: right;
    margin-top: 1rem;
  }
}
