<div class="card sticky-body">
  <div class="card-header">
      <i [ngClass]="isOpen ? 'icon-arrow-up' : 'icon-arrow-down'" class="icons header-icon" data-toggle="collapse"
        data-target="#fees-section" aria-expanded="true" aria-controls="taxes-fees-section" (click)="collapse()">
      </i>
    <strong>{{feesConstants.header}}</strong>
  </div>
  <div id="fees-section" class="card-body standard-padding container-fluid show">
    <div class="row">
      <div class="col-md-12 row dynamic-table">
        <!-- <div>
          <button type="submit" class="btn btn-primary pull-right mb-2"
            (click)="onAddFee()">{{feesConstants.addFee}}</button>
        </div> -->
        <table class="table">
          <thead>
            <th [appSort]="billingData.feeListPagedItems" data-order="desc" data-name="addDate" data-type="date">
              {{feesConstants.addDate}}</th>
            <th [appSort]="billingData.feeListPagedItems" data-order="desc" data-name="description">
              {{this.feesConstants.description}}</th>
            <th [appSort]="billingData.feeListPagedItems" data-order="desc" data-name="amount">
              {{this.feesConstants.amount}}</th>
            <!--<th [appSort]="billingData.feeListPagedItems" data-order="desc" data-name="voidDate" data-type="date">
              {{this.feesConstants.voidDate}}</th>
             <th></th> -->
          </thead>
          <tbody>
            <ng-container *ngFor="let item of billingData.feeListPagedItems">
              <tr>
                <td>{{item.addDate | date:'MM/dd/yyyy'}}</td>
                <td>{{item.description}}</td>
                <td>{{item.amount | currency}}</td>
                <!--<td>{{item.voidDate | date:'MM/dd/yyyy'}}</td>
                 <td>
                  <button type="submit" *ngIf="!item.voidDate" class="btn btn-danger btn-sm pull-right mr-2"
                    (click)="onVoidFee(item.id)">{{feesConstants.void}}</button>
                </td> -->
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div *ngIf="billingData?.feeListPagedItems?.length < 1" class="text-center col-lg-12 no-data-message">
            <span>No Data To Display</span>
        </div>
      </div>
      <app-table-pagination (setPage)="billingData.feeListSetPage($event)" [pager]="billingData.feeListPager"
        [loading]="false"></app-table-pagination>
    </div>
  </div>
</div>