<div class="form" [formGroup]="filterFrm">
    <div class="form-group">
        <label class="col-form-label">Date: </label>
        <input type="date" class="form-control" formControlName="date">
    </div>

    <div class="form-group">
        <label class="col-form-label mr-2">Submission: </label>
        <input type="text" class="form-control mr-2" formControlName="submission">
    </div>

    <div class="form-group">

        <label class="col-form-label mr-2">Endorsement: </label>
        <input type="text" class="form-control mr-2" formControlName="endorsementNumber">

    </div>
    <div class="form-group">
        <button class="btn btn-primary pull-right" (click)="filter()">Filter</button>
    </div>
</div>