<div class="row">
   
    <div class="col-md-12 mb-4">
        <h3 class="font-weight-light">Past Due</h3>
        <div class="list-group list-group-accent">
            <div class="list-group-item list-group-item-accent-danger pl-3 ">
                <div class="row">
                    <div class="col-md-5 font-weight-normal" >
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" id="task12" >
                            <a class="form-check-label" href="javascript:void(0)">Follow up requirement</a>
                        </div>
                    </div>
                    <div class="col-md-3 text-right font-weight-normal mb-0">Yours </div>
                    <div class="col-md-2 text-right ">Follow up</div>
                    <div class="col-md-2 text-right ">July 27</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 mb-4">
        <h3 class="font-weight-light">Today</h3>
        <div class="list-group list-group-accent">

            <div class="list-group-item list-group-item-accent-success pl-3 ">
                <a href="javascript:void(0)">Add new task</a>
            </div>

            <div class="list-group-item list-group-item-accent-success pl-3 ">
                <div class="row">
                    <div class="col-md-5 font-weight-normal" >
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox" >
                            <a class="form-check-label" href="javascript:void(0)">Collect payment</a>
                        </div>
                    </div>
                    <div class="col-md-3 text-right font-weight-normal mb-0">Alexa Amazon </div>
                    <div class="col-md-2 text-right ">General</div>
                    <div class="col-md-2 text-right ">July 27</div>
                </div>
            </div>

            <div class="list-group-item list-group-item-accent-success pl-3 ">
                <div class="row">
                    <div class="col-md-5 font-weight-normal" >
                        <div class="form-check ">
                            <input class="form-check-input" type="checkbox"  >
                            <a class="form-check-label" href="javascript:void(0)">Send Invoice</a>
                        </div>
                    </div>
                    <div class="col-md-3 text-right font-weight-normal mb-0">Yours </div>
                    <div class="col-md-2 text-right ">General</div>
                    <div class="col-md-2 text-right ">July 27</div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12 mb-4">
        <h3 class="font-weight-light">Upcoming</h3>
        <div class="list-group list-group-accent">
            <div class="list-group-item list-group-item-accent-info">Create Endorsement</div>
        </div>
    </div>

    <div class="col-md-12 mb-4" >
        <h3 class="font-weight-light">Completed</h3>
        <div class="list-group list-group-accent">
            <div class="list-group-item list-group-item-accent-secondary">Create Endorsement</div>
            <div class="list-group-item list-group-item-accent-secondary">Follow up requirement</div>
        </div>
    </div>

</div>