.custom-table-header {
    background: #f0f3f5;
  }

  .headers {
    vertical-align: middle;
  }

  .noresultfound {
    text-align: center;
  }

  .control-icons {
    button {
      width: inherit;
      height: auto;
      display: inline;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;

      &:focus {
      outline: none;
      }
    }
  }

  td:last-child {
    i {
      cursor: pointer;
      font-weight: bold;
      margin: 0 5px;
    }

    .icon-note {
      color: #20a8d8;
    }

    .icon-trash {
      color: #f86c6b;
    }

    .icon-task {
      color: #696969;
    }
  }
  
.agency-table {
    padding: 1rem 0;

    .table-wrapper {
        overflow-x: scroll;
    }

    .auto-horizontal-scroll {
        overflow-x: auto;
    }

    table {
        border: 1px solid #c8ced3;
        margin-bottom: 0;
        table-layout: fixed;
    }

    th {
        background: #f0f3f5;
        border-bottom-width: 1px;
        vertical-align: middle;
        word-break: normal;

        &:last-child {
            word-break: break-all;
        }
    }

    tr:nth-child(even) {
        background-color: #f7f7f7;
    }
  }

  .label-title {
    padding-bottom: 5px;
    color: gray;
  }

  .w-auto {
    height: 1rem;
    cursor: pointer;
  }

  .scroll-bar-appear {
    overflow-y: auto !important;
    overflow-x: auto !important;
    max-height: 205px;
  }

  th {
    background: #f0f3f5;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
  }

  :host ::ng-deep app-search-field input.form-control.py-2 {
    border: 1px solid #e4e7ea;
    padding: 0.375rem 0.75rem;
    height: 35px;
    margin-bottom: 12px;
  }

  .col-linked {
    width: 5%;
  }