<div class="card">
    <div class="card-header">Additional Interests</div>
    <div class="card-body">
        <div class="text-right mb-3">
            <button class="btn btn-primary"><i class="icon-plus" aria-hidden="true"></i>&nbsp;Add Addtional Interest</button>
        </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width:100%">
                <thead>
                <tr>
                    <th>Entity Type</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Effective Date</th>
                    <th>Expiration Date</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="ml-2"></span></td>
                    <td><span class="ml-2"></span></td>
                    <td><span class="ml-2"></span></td>
                    <td><span class="ml-2"></span></td>
                    <td><span class="ml-2"></span></td>
                    <td>
                    <span class="ml-2">
                        <button type="button" class="btn btn-sm btn-primary mx-2" data-placement="top" title="Edit"><i
                            class="icon-note"></i></button>
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>

<div class="card">
    <div class="card-header">Filing Information</div>
    <div class="card-body">

        <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right" for="broker">Does applicant require an A-rated carrier?:</label>
            <div class="col-md-3">
                <label class="switch switch-pill switch-label switch-primary">
                    <input type="checkbox" class="switch-input"  >
                    <span class="switch-slider" data-checked="YES" data-unchecked="NO"></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right" for="broker">Are there any filings required?:</label>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="switch switch-pill switch-label switch-primary align-middle">
                        <input type="checkbox" class="switch-input" [(ngModel)]="hasRequiredFilings" (ngModelChange)="hasRequiredFilingsChanged($event)" >
                        <span class="switch-slider" data-checked="YES" data-unchecked="NO"></span>
                    </label>
                </div>

                <div class="form-group" *ngIf="hasRequiredFilings">
                    <label>Please check all filings required:</label>

                    <ng-multiselect-dropdown
                    [placeholder]="'Select Fillings Required'"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    >
                    </ng-multiselect-dropdown>
                </div>

            </div>
        </div>
    </div>
</div>