<div class="modal-header sticky-modal-header">
  <h4 class="modal-title">{{modalTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [ngClass]="{'height60vh': isEdit == true}">
  <tabset>
    <tab *ngFor="let item of userRoleData.roleGroupList" [heading]="item.description" (select)="tabChange(item.roleGroupId)">
      <app-role-pages-section></app-role-pages-section>
    </tab>
  </tabset>
</div>
<div class="modal-footer sticky-modal-footer">
  <button type="button" class="btn btn-primary" (click)="saveUserRoleSection()">Save</button>
  <button type="button" class="btn btn-danger" (click)="closeDialog()">Cancel</button>
</div>
