<div role="document">
    <div class="modal-header sticky-modal-header">
      <h5 class="modal-title">DMV Report
      </h5>
      <button type="button" class="close" (click)="hideModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <form *ngIf="dMVReportData.dMVReportForm as dMVReportFormGroup" [formGroup]="dMVReportFormGroup">
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-lg-6 field">
            <label class="required">From</label>
            <div>
              <app-date-picker [isInvalid]="dMVReportFormGroup.get('fromDate').errors?.required"
                formControlName="fromDate" [options]="datePickerDateOption">
              </app-date-picker>
            </div>
            <span class="invalid-feedback d-flex"
              *ngIf="dMVReportFormGroup.get('fromDate').errors?.required && dMVReportFormGroup.get('fromDate').touched">
              {{errorMessageConstant.genericRequiredErrorMessage}}
            </span>
          </div>
          
          <div class="form-group col-lg-6 field">
            <label class="required">To</label>
            <div>
              <app-date-picker [isInvalid]="dMVReportFormGroup.get('toDate').errors?.required"
                formControlName="toDate" [options]="datePickerDateOption">
              </app-date-picker>
            </div>
            <span class="invalid-feedback d-flex"
              *ngIf="dMVReportFormGroup.get('toDate').errors?.required && dMVReportFormGroup.get('toDate').touched">
              {{errorMessageConstant.genericRequiredErrorMessage}}
            </span>
            <span class="invalid-feedback d-flex" *ngIf="isToDateLessThanfromDate">
              To date cannot be less than from date
            </span>
          </div>
        </div>
      </div>
  
      <div class="modal-footer sticky-modal-footer">
        <button class="btn btn-primary" [disabled]="dMVReportFormGroup.invalid || isToDateLessThanfromDate"
          (click)="exportDMVReport()">Export to Excel</button>
  
        <button class="btn btn-danger" (click)="hideModal()">Cancel</button>
      </div>
    </form>
  </div>