<div class="card shadow-sm min-height-agent-dashboard-billing customized-blue-agent-dashboard">
  <div class="pb-0 pt-1 card-header text-uppercase text-center font-weight-bold customized-header-agent-dashboard customized-blue-agent-dashboard">
    <div class="">BILLING</div>
  </div>
  <div class="card-body card-body-dashboard-padding billing-list-margin-top">
      <div>
        <a [routerLink]="'/submissions/list'"
          [ngClass]="'text-light dashboard-font'">
          Payment Due (0)
        </a>
      </div>
      <div>
        <a [routerLink]="'/submissions/list'"
          [ngClass]="'text-light dashboard-font'">
          Payment Past Due (0)
        </a>
      </div>
  </div>
</div>
