.billing-margin-top {
  margin-top: -7px;;
}

.billing-list-margin-top {
  margin-top: -8px;
}

.card-label-margin-top-billing {
  margin-top: -8px;
  margin-bottom: 4px;
}

@media only screen and (min-width: 1920px) {
  .billing-list-margin-top {
      margin-top: -2px !important;
  }
}

.disabledLink {
  pointer-events: none;
  cursor: default;
}
