<form [formGroup]="frmPasswordChange">
    <div *ngIf="requiredFieldError" class="text-danger">Please fill up required fields.</div>
    <div *ngIf="newAndConfirmNotMatchError" class="text-danger">New and Confirm password did not match.</div>
    <div class="form-group row">
        <label class="col-form-label col-md-5 text-right">Current Password</label>
        <div class="col-md-7">
            <input type="password" formControlName="currentPassword" class="form-control " required>
        </div>

    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-5 text-right">New Password</label>
        <div class="col-md-7">
            <input type="password" formControlName="newPassword" class="form-control" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-5 text-right">Confirm New Password</label>
        <div class="col-md-7">
            <input type="password" formControlName="confirmNewPassword" class="form-control" required>
        </div>
    </div>
</form>