<div class="row">
    <div class="offset-lg-1 col-lg-3">
        <app-task-search-filter></app-task-search-filter>
    </div>
    <div class="col-lg-7">
        <app-task-list></app-task-list>
    </div>
</div>