<div class="card shadow-sm min-height-agent-dashboard customized-light-blue-agent-dashboard cards-margin scroll-bar-appear">
  <div
    class="pb-0 pt-1 card-header text-uppercase text-center font-weight-bold customized-light-blue-agent-dashboard customized-header-agent-dashboard">
    <div class="">we're HERE TO HELP</div>
  </div>
  <div class="card-body">

    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>
</div>
