<div class="card sticky-body">
  <div class="card-header">
    <i class="icons header-icon" [ngClass]="hideMe ? 'icon-arrow-down': 'icon-arrow-up'" data-toggle="collapse"
      href="#vehicleCard" (click)="ToggleHiding()"></i>
    <strong>{{VehicleTexts.sectionHeader}}&nbsp;</strong>
    <span class="badge badge-pill badge-secondary text-white">{{ vehicleCount }}</span>
  </div>
  <div id="vehicleCard" class="show">
    <div class="card-body collapse show" id="vehicleList">
      <div class="col">
        <div class="row">
          <div class="col-md-3">
            <!-- <label for="vinSearch">VIN</label> -->
            <div class="input-group  my-0">
              <input type="text" id="vinSearch" #vin class="form-control" placeholder="Search" #Search
                title="Search VIN" (keydown.enter)="searchByVin(vin.value)">
              <div class="input-group-append">
                <button class="btn btn-secondary search-button" type="button" (click)="searchByVin(vin.value)">
                  <i class="fa fa-search customized-blue"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="row">

          <div class="col-md-8">
            <h4 style="padding-top: 1rem; margin-bottom: 0rem;">{{VehicleTexts.sectionHeader}}</h4>
          </div>
          <!-- <div class="col-md-8">
            <h4 style="padding-top: 1rem; margin-bottom: 0rem;">Driver Information</h4>
          </div> -->

          <div class="col-md-4">
            <div class="btn-group" role="group" style="float: right; padding-top:3px;">
              <input type="file" #fileSelection placeholder="Choose File" class="d-none"
                (change)="this.uploadFile(this.fileSelection.files)" [accept]="this.acceptedFileTypes">

              <button class="btn btn-primary mr-1 text-nowrap" (click)='downloadTemplate()'
                [disabled]="!policySummaryData.canEditPolicy" style="border-radius: 0.25rem;">Download Template
                <!-- <i class="fa fa-file-excel-o" ></i> -->
              </button>
              <button class="btn btn-primary text-nowrap" (click)='selectFile()'
                [disabled]="!policySummaryData.canEditPolicy" style="border-radius: 0.25rem;">Upload
                <!-- <i class="fa fa-upload" ></i> -->
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive dynamic-table mb-2" style="padding-top: 0.5rem;padding-bottom: 0.5rem;">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" #tbVehicle class="table">
            <thead>
              <tr class="text-center">
                <th>
                  <!-- <span [style.margin-left.px]="-9">OPTION</span><br />
                    <span class="options">1234</span> -->
                </th>
                <th [className]="isCheckboxColumns(header) ? 'text-center' : 'text-left'"
                  (click)="vehicleData.sort($event.target)" data-order="desc" [attr.data-name]="header.value"
                  *ngFor="let header of tableHeaders">{{header.text}}</th>
                <th class="text-center" style="padding:5px;width:5%;">Actions<br />
                  <button type="button" class="btn btn-primary mx-2" data-placement="top" (click)='addNewVehicle()'
                    [tooltip]="TableConstants.add" [disabled]="!policySummaryData.canEditPolicy">
                    <i class="icon-plus"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let vehicle of vehicleData.pagedItems" [ngTemplateOutlet]="vehicleRow"
                [ngTemplateOutletContext]="{vehicle : vehicle}"></ng-container>
            </tbody>
          </table>

          <div *ngIf="vehicleData.pagedItems?.length < 1">
            <div class="text-center col-lg-12 no-data-message">
              <span>No Data To Display</span>
            </div>
          </div>
        </div>
      </div>
      <app-table-pagination (setPage)="setPage($event)" [pager]="vehicleData.pager" [loading]="vehicleData.loading">
      </app-table-pagination>
    </div>
  </div>
  <ng-template #vehicleRow let-vehicle="vehicle">
    <tr [ngClass]="[(!vehicle.isMainRow ? 'vehicle-history-row' : '')]">
      <td class="text-center">
        <span title='Please update the information' *ngIf="this.vehicle.isValidated == false "
          class="badge badge-warning"
          style="z-index: 2; margin-left: -45px;  position: absolute; cursor: pointer;">!</span>
        <!-- <app-options-checkbox [vehicleId]="vehicle.id" [optionsCsv]="vehicle.options"></app-options-checkbox> -->
        <span *ngIf="vehicle.previousVehicleVersionId != null" (click)="vehicleExpandToggle(vehicle)">
          <i class="icon-arrow-down icons header-icon" data-toggle="collapseRow" href="#vehicleHistory"
            *ngIf="!vehicle.isExpanded && vehicle.isMainRow"></i>
          <i class="icon-arrow-up icons header-icon" data-toggle="collapseRow" href="#vehicleHistory"
            *ngIf="vehicle.isExpanded && vehicle.isMainRow"></i>
        </span>
        <span *ngIf="!vehicle.isMainRow" title="{{ GetVehicleEndorsementNumber(vehicle)?.description }}">
          {{ GetVehicleEndorsementNumber(vehicle)?.label }}
        </span>
      </td>
      <td><span>{{ vehicle.vin }}</span></td>
      <td><span>{{ vehicle.effectiveDate | date: 'MM/dd/yyyy'}}</span></td>
      <td><span>{{ vehicle.expirationDate | date: 'MM/dd/yyyy' }}</span></td>
      <td><span>{{ vehicle.registeredState }}</span></td>
      <td class="text-center">
        <ng-container *ngTemplateOutlet="checkboxView; context: {checked: vehicle.isAutoLiability}">
        </ng-container>
      </td>
      <td>
        <div class="text-center">
          <input type="checkbox" [checked]="vehicle.isCoverageFireTheft"
            [disabled]="isLimitCheckboxDisabled(vehicle) || !limitsData.hasComprehensive"
            (change)="coverageChanged(vehicle, $event.target.checked, 'isCoverageFireTheft')">
        </div>
      </td>
      <td>
        <div class="text-center">
          <input type="checkbox" [checked]="vehicle.isCoverageCollision"
            [disabled]="isLimitCheckboxDisabled(vehicle) || !limitsData.hasCollision"
            (change)="coverageChanged(vehicle, $event.target.checked, 'isCoverageCollision')">
        </div>
      </td>
      <td>
        <div class="text-center">
          <input type="checkbox" [checked]="vehicle.hasCoverageCargo"
            [disabled]="isLimitCheckboxDisabled(vehicle) || !limitsData.hasCargo"
            (change)="coverageChanged(vehicle, $event.target.checked, 'hasCoverageCargo')">
        </div>
      </td>
      <td>
        <div class="text-center">
          <input type="checkbox" [checked]="vehicle.hasCoverageRefrigeration"
            [disabled]="isLimitCheckboxDisabled(vehicle) || !limitsData.hasRefrigeration || !vehicle.hasCoverageCargo"
            (change)="coverageChanged(vehicle, $event.target.checked, 'hasCoverageRefrigeration')">
        </div>
      </td>
      <td><span>{{ vehicle.statedAmount | currency : 'USD' : 'symbol' : '1.0-0' }}</span></td>
      <td><span>{{ vehicle.coverageFireTheftDeductible }}</span></td>
      <td><span>{{ vehicle.coverageCollisionDeductible }}</span></td>
      <td><span>{{ vehicle.autoLiabilityPremium | currency : 'USD' : 'symbol' : '1.2-2' }}</span></td>
      <td><span>{{ vehicle.cargoPremium | currency : 'USD' : 'symbol' : '1.2-2' }}</span></td>
      <td><span>{{ vehicle.physicalDamagePremium | currency : 'USD' : 'symbol' : '1.2-2' }}</span></td>
      <td><span>{{ vehicle.totalPremium | currency : 'USD' : 'symbol' : '1.2-2' }}</span></td>
      <td>
        <div *ngIf="vehicle.isMainRow" class="table-button-fixed d-flex justify-content-end">
          <i *ngIf="vehicle.deletedDate === null"
            [className]="(!policySummaryData.canEditPolicy) ? 'icon-note disable-button' : 'icon-note'"
            (click)="editVehicle(vehicle)" [tooltip]="TableConstants.edit"></i>
          <i *ngIf="vehicle.deletedDate === null"
            [className]="(!policySummaryData.canEditPolicy) ? 'icon-trash disable-button' : 'icon-trash'"
            (click)="deleteVehicle(vehicle)" [tooltip]="TableConstants.delete"></i>
          <i *ngIf="vehicle.canReinstate"
            [className]="(!policySummaryData.canEditPolicy) ? 'icon-action-undo disable-button' : 'icon-action-undo'"
            (click)="reinstateVehicle(vehicle)" [tooltip]="TableConstants.reinstate"></i>
        </div>
        <div *ngIf="!vehicle.isMainRow" class="table-button-fixed d-flex justify-content-end">
          <button class="btn btn-sm btn-primary" (click)="viewVehicle(vehicle)" [tooltip]="TableConstants.view">View</button>
        </div>
      </td>
    </tr>
    <ng-container id="vehicleHistory" *ngIf="vehicle.isExpanded">
      <ng-container *ngFor="let childVehicle of vehicle.previousVehicles" [ngTemplateOutlet]="vehicleRow"
        [ngTemplateOutletContext]="{vehicle : childVehicle}">
      </ng-container>
    </ng-container>
  </ng-template>
  <ng-template #checkboxView let-checked="checked">
    <input type="checkbox" id="options" [checked]="checked" disabled>
  </ng-template>
  <div class="modal fade" id='addUpdateVehicle' tabindex="-1" role="dialog" aria-labelledby="#addUpdateVehicle"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <app-vehicle-information-section [modalButton]="modalButton"></app-vehicle-information-section>
      </div>
    </div>
  </div>

  <div class="modal fade" id='addVehiclesFromExcel' tabindex="-1" role="dialog" aria-labelledby="#addVehiclesFromExcel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <app-vehicles-excel-upload [excelVehicles]="excelVehicles"></app-vehicles-excel-upload>
      </div>
    </div>
  </div>
  <div #btnAddVehicle class="d-none" data-toggle="modal" data-target='#addUpdateVehicle'></div>
  <div #btnAddVehiclesFromExcel class="d-none" data-toggle="modal" data-target='#addVehiclesFromExcel'></div>