<div class="col-md-12 pt-2">
    <div class="row">
        <table class="table table-sm table-striped ">
            <thead>
                <tr>
                    <th scope="col" *ngIf="forDashboard">Date Created</th>
                    <th scope="col">Time Created</th>
                    <th scope="col">Submission</th>
                    <th scope="col">Option</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>

                <div *ngIf="items?.length > 0; then itemsTemplate else emptyListTemplate">
                </div>

                <ng-template #itemsTemplate>
                    <tr *ngFor="let item of items">
                        <td *ngIf="forDashboard"> {{item.createdDateUtc | amFromUtc | amLocal | amDateFormat: 'MM/D/yyyy'  }} </td>
                        <td>{{item.createdDateUtc | amFromUtc | amLocal | amDateFormat: 'h:mm:ss A'  }}</td>
                        <td>{{item.submissionNumber}}</td>
                        <td>{{item.optionId}}</td>
                        <td><button class="btn btn-sm btn-success" (click)="download(item)"><i class="fa fa-download" ></i> Download</button></td>
                    </tr>
                </ng-template>

                <ng-template #emptyListTemplate>
                    <tr>
                        <td colspan="4" class="text-center p-1">
                            <h4>No items to display.</h4>
                        </td>
                    </tr>
                </ng-template>

            </tbody>
        </table>

    </div>
</div>