<div class="card page-header-details-card position-relative">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-4 col-border">
          <div class="row-2">
            <h2 class="title">
              {{ summaryData.name }}
            </h2>
            <label class="page-header-details-label text-primary">
              {{ summaryData.address }}</label>
          </div>
          <div class="row-2 row status-btn">
            <div class="col-md-4 col-md-6">
              <h6 class="policyStatus-field-text" [ngClass]="{'redFontColor': summaryData.policyStatus == pageHeaderConstants.policyStatusCancelled }">
                {{ summaryData.policyStatus + ' ' + ((summaryData.policyStatus == pageHeaderConstants.policyStatusCancelled) && (summaryData.policySubStatus == pageHeaderConstants.policySubStatusRewrite) ? '/ Rewrite' : '') }}
              </h6>
              <div class="row"
                  *ngIf="summaryData.policyStatus == pageHeaderConstants.policyStatusActive && summaryData.pendingCancellationDate != null">
                <div class="col-12">
                  <label class="redFontColor">
                    {{ pageHeaderConstants.policySubStatusPendingCancellation }}
                  </label>
                </div>
              </div>
              <div class="row"
                  *ngIf="summaryData.policyStatus != pageHeaderConstants.policyStatusCancelled && (summaryData.policySubStatus == pageHeaderConstants.policySubStatusPendingEndorsement)">
                <div class="col-12">
                  <label class="orangeFontColor">
                    {{ pageHeaderConstants.policySubStatusPendingEndorsement }}
                  </label>
                </div>
              </div>
            </div>
            <div class="row field mb-2" [formGroup]="summaryData.form">
              <!-- <div class="col-md-6">
                <label for="status">Status</label>
                <select id="status" class="form-control" formControlName="status" (change)="onStatusChanged()">
                  <option [ngValue]="null">Please Select</option>                    
                  <option *ngFor="let option of summaryData.statusList | orderBy: 'label'" [value]="option.label">
                    {{ option.label }}</option>
                </select>
              </div> -->
            </div>
          </div>
          <div class="row-2 status-btn">
            <div class="flex-end">
              <ng-container *ngTemplateOutlet="policyActions"></ng-container>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-border">
          <div class="row">
            <div class="col-12 form-type">
              <label class="font-weight-light sub-title-label">Effective Date</label>
              <h6 class="field-text">
                {{ summaryData.effectiveDate ? (summaryData.effectiveDate | date : 'MM/dd/yyyy') : '&nbsp;' }}
              </h6>
            </div>              
          </div>
          <div class="row">
            <div class="col-lg-10 form-type">
              <label class="font-weight-light sub-title-label">Submission Number</label>
              <h6 class="field-text">
                {{ summaryData.quoteNumber ? summaryData.quoteNumber : '&nbsp;' }}
              </h6>
            </div>              
          </div>
          <div class="row">
            <div class="col-lg-10 form-type">
              <label class="font-weight-light sub-title-label">Policy Number</label>
              <h6 class="field-text">
                {{ summaryData.policyNumber ? summaryData.policyNumber : '&nbsp;' }}
              </h6>
            </div>              
          </div>
        </div>

        <div class="col-md-3 col-border">
          <div class="row">
            <div class="col-12 form-type">
              <label class="font-weight-light sub-title-label">Agency</label>
              <h6 class="field-text">
                {{ summaryData.agency ? summaryData.agency : '&nbsp;' }}
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-12 form-type">
              <label class="font-weight-light sub-title-label">Producer</label>
              <h6 class="field-text">
                {{ summaryData.producer ? summaryData.producer : '&nbsp;' }}
              </h6>
            </div>
          </div>   
        </div>

        <div class="col-md-3">
          <div class="row-2">
            <label class="font-weight-light sub-title-label">Premium</label>
            <h6 class="est-field-text">
              <div>
                {{ summaryData.estimatedPremium ? (summaryData.estimatedPremium | currency : 'USD' : 'symbol' : '1.0-2') : '&nbsp;' }}
              </div>
            </h6>
          </div>
          <div class="row">
            <div class="col col-lg-6 col-md-12">
              <div class="row-2">
                <label class="font-weight-light sub-title-label">Taxes</label>
                <h6 class="taxfee-field-text">
                  {{ summaryData.estimatedPremium && summaryData.taxes ? (summaryData.taxes | currency : 'USD' : 'symbol' : '1.0-2') : '&nbsp;' }}
                </h6>
              </div>
            </div>
            <div class="col col-lg-5 col-md-12">
              <div class="row-2">
                <label class="font-weight-light sub-title-label">Fees</label>
                <h6 class="taxfee-field-text">
                  <div>
                    {{ summaryData.estimatedPremium && summaryData.fees ? (summaryData.fees | currency : 'USD' : 'symbol' : '1.0-2') : '&nbsp;' }}
                  </div>
                </h6>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>     
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isShow" class="card page-header-details-card fixed-top animated fadeIn">
  <div class="card-body-header" [style.width.%]="106">
    <div class="container-fluid" style="margin: auto; width: 100%;" >
      <div class="row mt-2">
        <div class="col-md-3">
          <div class="row-2">
            <p class="summary-title">Insured Name</p>
            <div style="display: inline-block;width: 100%;word-break: break-all;">
              <label class="field-text" style="margin-left: 15px;" >
                {{ summaryData.name ? summaryData.name : '&nbsp;' }}</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row-2">
            <p class="summary-title">Policy Number</p>
            <label class="field-text">
              {{ summaryData.policyNumber ? summaryData.policyNumber : '&nbsp;' }}</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row-2">
            <p class="summary-title">Status</p>
            <label class="field-text quote-status">
              {{ summaryData.quoteStatus ? summaryData.quoteStatus : '&nbsp;' }}</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row-2">
            <p class="summary-title">Premium</p>
            <label class="est-field-text-2">
              {{ summaryData.estimatedPremium ? (summaryData.estimatedPremium | currency :
              'USD' : 'symbol' : '1.0-2') : '&nbsp;' }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Policy Actions Types Template -->
<ng-template #policyActions>
  <div class="policy-action" *ngIf="!this.summaryData.hideActionButtonIfRewrite">
    <div class="btn-group" dropdown placement="bottom left">
      <button id="button-alignment" dropdownToggle type="button"
        class="btn btn-primary dropdown-toggle" aria-controls="dropdown-alignment"> Actions
      </button>
      <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="button-alignment">
        <!-- <li role="menuitem">
          <a class="dropdown-item" href="#">Extend</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">Renew</a>
        </li> -->
        <li role="menuitem" *ngIf="!this.submissionData.isCancelledPolicy">
          <a class="dropdown-item" (click)="showManualCancellationModal()" [routerLink]="">Cancel</a>
        </li>
        <li role="menuitem" *ngIf="this.submissionData.isCancelledPolicy">
          <a class="dropdown-item" (click)="reinstatePolicy()" [routerLink]="">Reinstate</a>
        </li>
        <li role="menuitem" *ngIf="!this.submissionData.isCancelledPolicy">
          <a [className]="(this.summaryData.disableRewriteAction) ? 'dropdown-item disabled-action' : 'dropdown-item'" class="dropdown-item" (click)="rewritePolicy()" [routerLink]="">Rewrite</a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
<!-- Policy Actions Types Template End -->