<div class="page-position">
  <!-- <form [formGroup]="this.Data.formBinding" id="frmHeader"> -->
    <app-binding></app-binding>
    <!-- <app-bind-documents></app-bind-documents> -->
    <!-- <app-bind-notes></app-bind-notes> -->
    <app-next-back-btn [isScrollPage]="true" (clickType)="onClick($event)"></app-next-back-btn>
   <!-- </form> -->
</div>