<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: fullLogoPath, width: 140, height: 35, alt: 'Rivinton Partners Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'Rivinton Partners Logo'}"
  [asideMenuToggler]="false" [sidebarToggler]="false" [mobileSidebarToggler]="leftSidebarAvailable">

  <!-- [mobileSidebarToggler]="layoutService.submissionSidebarVisible" -->

  <ul class="nav navbar-nav ml-auto *ngIf='isAuthenticated'">

    <!-- <li *ngFor="let menu of navService.mainMenuList" class="nav-item d-md-down-none mr-4">
      <a class="nav-link" [routerLink]="menu.controllerName">{{menu.menuLabel}}</a>
    </li> -->
    <!-- 
    <li *ngFor="let menu of navService.mainMenuList" class="nav-item d-md-down-none mr-4">
      <a class="nav-link" [routerLink]="menu.controllerName">{{menu.menuLabel}}</a>
    </li>
     -->
    <li class="nav-item mr-4" *ngIf="canManageUsers" class="nav-item d-md-down-none mr-4">
      <a class="nav-link" [routerLink]="['/users']" >
        USERS
      </a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
         <img src="{{userIconPath}}" class="img-avatar" alt="user-icon" />
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>{{user.displayName}}</strong></div>
        <a class="dropdown-item" [routerLink]="['/account']"><i class="fa fa-user"></i>Account</a>
        <a class="dropdown-item" href="javascript:void(0);" (click)="logout()"><i class="fa fa-lock"></i>Logout</a>
      </div>
    </li>

  </ul>
</app-header>